<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.telegram">
  <resources>
    <artifact name="${org.apache.camel:camel-telegram}" />
  </resources>
  <dependencies>
    <module name="javax.ws.rs.api" />
    <module name="com.fasterxml.jackson.core.jackson-core" />
    <module name="com.fasterxml.jackson.core.jackson-databind" />
    <module name="org.apache.cxf.impl" />
    <module name="org.slf4j" />
    <module name="com.fasterxml.jackson.core.jackson-annotations" />
    <module name="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider" slot="fuse" />
    <module name="org.apache.camel.component.webhook" />
    <module name="org.apache.camel.core" />
    <module name="org.apache.cxf.ext" />
  </dependencies>
</module>
