<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.igniterealtime">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.igniterealtime.smack:smack-core}" />
    <artifact name="${org.igniterealtime.smack:smack-extensions}" />
    <artifact name="${org.igniterealtime.smack:smack-im}" />
    <artifact name="${org.igniterealtime.smack:smack-java7}" />
    <artifact name="${org.igniterealtime.smack:smack-resolver-javax}" />
    <artifact name="${org.igniterealtime.smack:smack-sasl-javax}" />
    <artifact name="${org.igniterealtime.smack:smack-tcp}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.jxmpp" />
    <module name="xpp3" />
  </dependencies>
</module>
