<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.springframework.core">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.springframework:spring-core}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.jboss.vfs" />
    <module name="org.springframework.aop" export="true" />
    <module name="org.springframework.batch" optional="true" />
    <module name="org.apache.commons.logging" />
  </dependencies>
  <exports>
    <exclude path="org/springframework/cglib/core/internal" />
  </exports>
</module>
