<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.cometd.server">
  <resources>
    <artifact name="${org.cometd.java:cometd-java-server}" />
  </resources>
  <dependencies>
    <module name="javax.servlet.api" />
    <module name="org.cometd.bayeux" />
    <module name="org.cometd.client" />
    <module name="org.eclipse.jetty" />
    <module name="org.slf4j" />
  </dependencies>
</module>
