<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.protobuf">
  <resources>
    <artifact name="${org.apache.camel:camel-protobuf}" />
    <artifact name="${com.google.protobuf:protobuf-java}" />
  </resources>
  <dependencies>
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
  </dependencies>
  <exports>
    <exclude path="com/google" />
    <exclude path="com/google/protobuf/compiler" />
    <exclude path="google/protobuf**" />
  </exports>
</module>
