<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.http">
  <resources>
    <artifact name="${org.apache.camel:camel-http}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.apache.camel.component.http.common" export="true">
      <exports>
        <include path="org/apache/camel/http/common" />
      </exports>
    </module>
    <module name="org.apache.httpcomponents" export="true" slot="fuse">
      <exports>
        <include path="org/apache/http**" />
        <exclude path="org/apache**" />
      </exports>
    </module>
    <module name="org.slf4j" />
    <module name="javax.servlet.api" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
