<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.optaplanner">
  <resources>
    <artifact name="${org.apache.camel:camel-optaplanner}" />
    <artifact name="${org.drools:drools-compiler}" />
    <artifact name="${org.drools:drools-core}" />
    <artifact name="${org.kie:kie-api}" />
    <artifact name="${org.kie:kie-internal}" />
    <artifact name="${org.optaplanner:optaplanner-core}" />
    <artifact name="${org.uberfire:uberfire-maven-support}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.slf4j" />
    <module name="com.google.guava" />
    <module name="com.google.protobuf" />
    <module name="com.thoughtworks.xstream" />
    <module name="javax.activation.api" />
    <module name="javax.enterprise.api" />
    <module name="javax.inject.api" />
    <module name="javax.jms.api" />
    <module name="javax.xml.bind.api" />
    <module name="javax.xml.stream.api" />
    <module name="org.antlr.runtime" />
    <module name="org.apache.camel.core" />
    <module name="org.apache.commons.codec" />
    <module name="org.apache.commons.lang3" />
    <module name="org.apache.commons.math3" />
    <module name="org.eclipse.jdt.ecj" />
    <module name="org.mvel.mvel2" />
    <module name="org.osgi.core" />
    <module name="org.reflections" />
  </dependencies>
  <exports>
    <exclude path="org/appformer**" />
    <exclude path="org/drools**" />
    <exclude path="org/optaplanner/core/impl**" />
    <exclude path="org/kie**" />
  </exports>
</module>
