<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.jsonpath">
  <resources>
    <artifact name="${org.apache.camel:camel-jsonpath}" />
  </resources>
  <dependencies>
    <module name="org.slf4j" />
    <module name="com.jayway.jsonpath" />
    <module name="net.minidev.smart" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
