<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.elasticsearch">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.elasticsearch:elasticsearch}" />
    <artifact name="${org.elasticsearch:securesm}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.slf4j" />
    <module name="sun.jdk">
      <imports>
        <include path="sun/misc/Unsafe" />
      </imports>
    </module>
    <module name="com.google.guava" />
    <module name="org.apache.lucene" slot="5.4" />
  </dependencies>
</module>
