<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.directory">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.apache.directory.api:api-asn1-api}" />
    <artifact name="${org.apache.directory.api:api-asn1-ber}" />
    <artifact name="${org.apache.directory.api:api-i18n}" />
    <artifact name="${org.apache.directory.api:api-ldap-client-api}" />
    <artifact name="${org.apache.directory.api:api-ldap-codec-core}" />
    <artifact name="${org.apache.directory.api:api-ldap-codec-standalone}" />
    <artifact name="${org.apache.directory.api:api-ldap-extras-aci}" />
    <artifact name="${org.apache.directory.api:api-ldap-extras-codec}" />
    <artifact name="${org.apache.directory.api:api-ldap-extras-codec-api}" />
    <artifact name="${org.apache.directory.api:api-ldap-extras-util}" />
    <artifact name="${org.apache.directory.api:api-ldap-model}" />
    <artifact name="${org.apache.directory.api:api-ldap-net-mina}" />
    <artifact name="${org.apache.directory.api:api-ldap-schema-data}" />
    <artifact name="${org.apache.directory.api:api-util}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.apache.commons.codec" slot="fuse" />
    <module name="org.apache.commons.collections" slot="fuse" />
    <module name="org.apache.commons.lang" slot="fuse" />
    <module name="org.apache.commons.pool" />
    <module name="org.apache.mina.core" />
    <module name="org.slf4j" />
  </dependencies>
  <exports>
    <exclude path="org/apache/directory/api/ldap/codec/osgi**" />
    <exclude path="schema/ou=schema**" />
  </exports>
</module>
