<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.infinispan">
  <resources>
    <artifact name="${org.apache.camel:camel-infinispan}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.infinispan" slot="8.2" export="true">
      <exports>
        <include path="org/infinispan" />
        <include path="org/infinispan/commons" />
        <include path="org/infinispan/commons/api**" />
        <include path="org/infinispan/manager**" />
        <exclude path="org/infinispan**" />
      </exports>
    </module>
    <module name="org.slf4j" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
