<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="com.google.guava" slot="14.0">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <resource-root path="guava-14.0.jar" />
  </resources>
  <dependencies>
    <module name="javax.inject.api" />
  </dependencies>
</module>
