<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.spring.ws">
  <resources>
    <artifact name="${org.apache.camel:camel-spring-ws}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="javax.xml.bind.api" />
    <module name="javax.xml.soap.api" />
    <module name="org.springframework.core" />
    <module name="org.springframework.ws" export="true" />
    <module name="org.slf4j" />
    <module name="javax.servlet.api" />
    <module name="org.apache.camel.core" />
    <module name="org.apache.camel.spring" />
  </dependencies>
</module>
