<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.amqp">
  <resources>
    <artifact name="${org.apache.camel:camel-amqp}" />
  </resources>
  <dependencies>
    <module name="javax.resource.api" />
    <module name="org.apache.camel.core" />
    <module name="io.netty" slot="fuse" />
    <module name="org.slf4j" />
    <module name="javax.jms.api" />
    <module name="org.apache.camel.component.jms" />
    <module name="org.apache.qpid" />
    <module name="org.apache.qpid.proton" slot="fuse" />
  </dependencies>
</module>
