<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.poi">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${com.zaxxer:SparseBitSet}" />
    <artifact name="${org.apache.poi:poi}" />
    <artifact name="${org.apache.poi:poi-ooxml}" />
    <artifact name="${org.apache.poi:poi-ooxml-schemas}" />
    <artifact name="${org.apache.poi:poi-scratchpad}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.apache.commons.compress" />
    <module name="com.github.virtuald.curvesapi" />
    <module name="org.apache.commons.collections4" />
    <module name="org.apache.commons.math3" />
    <module name="org.apache.xmlbeans" />
  </dependencies>
</module>
