<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.hdfs">
  <resources>
    <artifact name="${org.apache.camel:camel-hdfs}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.apache.hadoop" export="true" services="export">
      <exports>
        <include path="org/apache/hadoop" />
        <include path="org/apache/hadoop/conf**" />
        <include path="org/apache/hadoop/crypto**" />
        <include path="org/apache/hadoop/fs**" />
        <include path="org/apache/hadoop/hdfs**" />
        <include path="org/apache/hadoop/http**" />
        <include path="org/apache/hadoop/io**" />
        <include path="org/apache/hadoop/ipc**" />
        <include path="org/apache/hadoop/net**" />
        <include path="org/apache/hadoop/security**" />
        <exclude path="org/apache/hadoop**" />
        <exclude path="webapps**" />
      </exports>
    </module>
    <module name="org.slf4j" />
    <module name="org.apache.camel.core" />
    <module name="org.apache.commons.codec" slot="fuse" />
    <module name="org.apache.commons.collections" slot="fuse" />
    <module name="org.apache.commons.configuration" />
    <module name="org.apache.commons.lang" slot="fuse" />
    <module name="org.apache.commons.net" />
    <module name="org.codehaus.jackson.jackson-core-asl" slot="fuse" />
    <module name="org.codehaus.jackson.jackson-mapper-asl" slot="fuse" />
  </dependencies>
  <exports>
    <exclude path="org/apache/camel/component/hdfs/osgi**" />
  </exports>
</module>
