<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="io.netty" slot="4.1">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${io.netty:netty}" />
    <artifact name="${io.netty:netty-buffer}" />
    <artifact name="${io.netty:netty-codec}" />
    <artifact name="${io.netty:netty-codec-dns}" />
    <artifact name="${io.netty:netty-codec-http}" />
    <artifact name="${io.netty:netty-codec-http2}" />
    <artifact name="${io.netty:netty-codec-socks}" />
    <artifact name="${io.netty:netty-common}" />
    <artifact name="${io.netty:netty-handler}" />
    <artifact name="${io.netty:netty-handler-proxy}" />
    <artifact name="${io.netty:netty-resolver}" />
    <artifact name="${io.netty:netty-resolver-dns}" />
    <artifact name="${io.netty:netty-transport}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="sun.jdk" />
  </dependencies>
</module>
