<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.chronicle">
  <resources>
    <artifact name="${org.apache.camel:camel-chronicle}" />
  </resources>
  <dependencies>
    <module name="net.openhft.chronicle" export="true">
      <exports>
        <exclude path="java/lang" />
        <exclude path="net/openhft" />
        <exclude path="net/openhft/chronicle/engine/server/internal" />
        <exclude path="net/openhft/chronicle/hash/serialization/internal" />
        <exclude path="software/chronicle**" />
      </exports>
    </module>
    <module name="org.slf4j" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
