<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.aws">
  <resources>
    <artifact name="${org.apache.camel:camel-aws}" />
  </resources>
  <dependencies>
    <module name="javax.mail.api" />
    <module name="com.amazon.aws" export="true">
      <exports>
        <exclude path="com/amazonaws/http**" />
      </exports>
    </module>
    <module name="org.slf4j" />
    <module name="com.fasterxml.jackson.core.jackson-databind" />
    <module name="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
    <module name="org.apache.commons.codec" />
    <module name="org.apache.commons.logging" />
    <module name="org.apache.httpcomponents" />
    <module name="org.joda.time" />
  </dependencies>
</module>
