<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.milo">
  <resources>
    <artifact name="${org.apache.camel:camel-milo}" />
  </resources>
  <dependencies>
    <module name="com.google.guava" slot="fuse" />
    <module name="org.eclipse.milo" export="true">
      <exports>
        <exclude path="org/jooq**" />
      </exports>
    </module>
    <module name="org.eclipse.milo.server" export="true" />
    <module name="org.slf4j" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
    <module name="org.eclipse.milo.client" />
  </dependencies>
  <exports>
    <exclude path="org/apache/camel/component/milo/client/internal" />
    <exclude path="org/apache/camel/component/milo/server/internal" />
  </exports>
</module>
