<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.asynchttpclient">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.asynchttpclient:async-http-client}" />
    <artifact name="${org.asynchttpclient:async-http-client-netty-utils}" />
    <artifact name="${com.typesafe.netty:netty-reactive-streams}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="io.netty" slot="fuse" />
    <module name="com.sun.activation.javax.activation" />
    <module name="org.reactivestreams" slot="fuse" />
    <module name="org.slf4j" />
  </dependencies>
  <exports>
    <exclude path="io/netty**" />
    <exclude path="com/typesafe**" />
  </exports>
</module>
