<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Wildfly Camel Build
  %%
  Copyright (C) 2013 JBoss by Red Hat
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as 
  published by the Free Software Foundation, either version 2.1 of the 
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Lesser Public License for more details.
  
  You should have received a copy of the GNU General Lesser Public 
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/lgpl-2.1.html>.
  #L%
  -->




<module xmlns="urn:jboss:module:1.1" name="org.jboss.gravia">

    <resources>
        <resource-root path="gravia-provision-@version.jboss.gravia@.jar"/>
        <resource-root path="gravia-repository-@version.jboss.gravia@.jar"/>
        <resource-root path="gravia-resolver-@version.jboss.gravia@.jar"/>
        <resource-root path="gravia-resource-@version.jboss.gravia@.jar"/>
        <resource-root path="gravia-runtime-api-@version.jboss.gravia@.jar"/>
        <resource-root path="gravia-runtime-embedded-@version.jboss.gravia@.jar"/>
        <resource-root path="org.apache.felix.configadmin-@version.apache.felix.configadmin@.jar"/>
        <resource-root path="org.apache.felix.http.bridge-@version.apache.felix.http@.jar"/>
        <resource-root path="org.apache.felix.log-@version.apache.felix.log@.jar"/>
        <resource-root path="org.apache.felix.metatype-@version.apache.felix.metatype@.jar"/>
        <resource-root path="org.apache.felix.scr-@version.apache.felix.scr@.jar"/>
    </resources>

    <exports>
        <exclude path="org/jboss/gravia/runtime/embedded"/>
    </exports>
    
    <dependencies>
        <module name="javax.api"/>
        <module name="javax.servlet.api"/>
        <module name="org.osgi.core"/>
        <module name="org.osgi.enterprise"/>
        <module name="org.slf4j"/>
    </dependencies>

</module>
