<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.orbitz.consul.consul-client">
  <resources>
    <artifact name="${com.orbitz.consul:consul-client}">
      <filter>
        <exclude path="com/orbitz" />
        <include path="com/orbitz/consul" />
        <include path="com/orbitz/consul/**" />
      </filter>
    </artifact>
  </resources>
  <dependencies>
    <module name="com.fasterxml.jackson.core.jackson-annotations" />
    <module name="com.fasterxml.jackson.core.jackson-core" />
    <module name="com.fasterxml.jackson.core.jackson-databind" />
    <module name="com.fasterxml.jackson.datatype.jackson-datatype-guava" />
    <module name="com.google.guava" />
    <module name="com.squareup.retrofit2" />
    <module name="com.squareup.okhttp3" />
    <module name="org.apache.commons.lang3" />
    <module name="org.slf4j" />
  </dependencies>
</module>
