<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.caucho.hessian">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${com.caucho:hessian}" />
  </resources>
  <dependencies>
    <module name="javax.servlet.api" />
  </dependencies>
</module>
