<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.rest.swagger">
  <resources>
    <artifact name="${org.apache.camel:camel-rest-swagger}" />
  </resources>
  <dependencies>
    <module name="com.fasterxml.jackson.core.jackson-annotations" />
    <module name="com.fasterxml.jackson.core.jackson-core" />
    <module name="com.fasterxml.jackson.core.jackson-databind" />
    <module name="org.slf4j" />
    <module name="org.apache.camel.component.http" />
    <module name="org.apache.camel.component.swagger" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
