<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.spring.batch">
  <resources>
    <artifact name="${org.apache.camel:camel-spring-batch}" />
  </resources>
  <dependencies>
    <module name="org.slf4j" />
    <module name="org.springframework.batch" export="true" services="export">
      <imports>
        <include path="META-INF" />
      </imports>
      <exports>
        <include path="META-INF" />
      </exports>
    </module>
    <module name="org.springframework.beans" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
