<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.commons.dbcp">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${commons-dbcp:commons-dbcp}" />
  </resources>
  <dependencies>
    <module name="javax.sql.api" />
    <module name="org.apache.derby" />
    <module name="org.apache.commons.pool" />
  </dependencies>
</module>
