<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.splunk">
  <resources>
    <artifact name="${org.apache.camel:camel-splunk}" />
    <artifact name="${org.apache.servicemix.bundles:org.apache.servicemix.bundles.splunk}" />
  </resources>
  <dependencies>
    <module name="org.slf4j" />
    <module name="com.google.code.gson" slot="fuse" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
    <module name="org.joda.time" slot="fuse" />
  </dependencies>
</module>
