<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.reactor">
  <resources>
    <artifact name="${org.apache.camel:camel-reactor}" />
    <artifact name="${io.projectreactor:reactor-core}" />
  </resources>
  <dependencies>
    <module name="org.slf4j" />
    <module name="org.apache.camel.component.reactive.streams" />
    <module name="org.apache.camel.core" />
    <module name="org.reactivestreams" slot="fuse" />
  </dependencies>
</module>
