<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.drools">
  <resources>
    <artifact name="${org.drools:drools-compiler}" />
    <artifact name="${org.drools:drools-core}" />
  </resources>
  <dependencies>
    <module name="com.google.protobuf" />
    <module name="com.thoughtworks.xstream" />
    <module name="javax.activation.api" />
    <module name="javax.inject.api" />
    <module name="javax.xml.bind.api" />
    <module name="javax.xml.stream.api" />
    <module name="org.antlr.runtime" />
    <module name="org.apache.commons.codec" slot="fuse" />
    <module name="org.eclipse.jdt.ecj" slot="fuse" />
    <module name="org.kie" />
    <module name="org.mvel.mvel2" />
    <module name="org.slf4j" />
  </dependencies>
</module>
