<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="edu.ucar.netcdf4">
  <resources>
    <artifact name="${edu.ucar:netcdf4}" />
  </resources>
  <dependencies>
    <module name="edu.ucar.cdm" />
    <module name="net.jcip" />
    <module name="org.slf4j" />
  </dependencies>
</module>
