<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.undertow">
  <resources>
    <artifact name="${org.apache.camel:camel-undertow}" />
  </resources>
  <dependencies>
    <module name="io.undertow.core" export="true" services="export">
      <exports>
        <include path="io/undertow/client**" />
        <exclude path="io/undertow**" />
        <exclude path="org/eclipse/jetty/alpn" />
      </exports>
    </module>
    <module name="javax.api" />
    <module name="org.apache.httpcomponents" />
    <module name="org.jboss.xnio" />
    <module name="org.slf4j" />
    <module name="javax.servlet.api" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.component.http.common" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
