<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.drools.core">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.drools:drools-core}" />
  </resources>
  <dependencies>
    <module name="com.thoughtworks.xstream" />
    <module name="javax.activation.api" />
    <module name="javax.enterprise.api" />
    <module name="javax.xml.bind.api" />
    <module name="javax.xml.stream.api" />
    <module name="org.apache.commons.codec" />
    <module name="org.kie.api" />
    <module name="org.kie.internal" />
    <module name="org.mvel.mvel2" />
    <module name="org.osgi.core" />
    <module name="org.slf4j" />
  </dependencies>
</module>
