<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.xmlrpc">
  <resources>
    <artifact name="${org.apache.camel:camel-xmlrpc}" />
    <artifact name="${org.apache.xmlrpc:xmlrpc-client}" />
    <artifact name="${org.apache.xmlrpc:xmlrpc-common}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.apache.ws.commons.util" />
    <module name="org.slf4j" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
    <module name="org.apache.commons.httpclient" />
  </dependencies>
</module>
