<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.bindy">
  <resources>
    <artifact name="${org.apache.camel:camel-bindy}" />
  </resources>
  <dependencies>
    <module name="javax.enterprise.api" />
    <module name="javax.inject.api" />
    <module name="javax.interceptor.api" />
    <module name="org.slf4j" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
