<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.http4">
  <resources>
    <artifact name="${org.apache.camel:camel-http4}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.apache.camel.component.http.common" export="true">
      <exports>
        <include path="org/apache/camel/http/common" />
      </exports>
    </module>
    <module name="org.slf4j" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
    <module name="org.apache.httpcomponents" />
  </dependencies>
</module>
