<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.rabbitmq">
  <resources>
    <artifact name="${com.rabbitmq:amqp-client}" />
    <artifact name="${org.apache.camel:camel-rabbitmq}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.slf4j" />
    <module name="org.apache.camel.core" />
    <module name="org.apache.commons.pool" />
  </dependencies>
  <exports>
    <exclude path="com/rabbitmq" />
    <exclude path="com/rabbitmq/client/impl**" />
    <exclude path="com/rabbitmq/client/test**" />
    <exclude path="com/rabbitmq/tools**" />
    <exclude path="com/rabbitmq/utility**" />
  </exports>
</module>
