<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.jsonpath">
  <resources>
    <artifact name="${net.minidev:accessors-smart}" />
    <artifact name="${org.apache.camel:camel-jsonpath}" />
    <artifact name="${com.jayway.jsonpath:json-path}" />
    <artifact name="${net.minidev:json-smart}" />
  </resources>
  <dependencies>
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
    <module name="org.slf4j" />
  </dependencies>
  <exports>
    <exclude path="com/jayway**" />
    <exclude path="net/minidev**" />
    <exclude path="org/objectweb**" />
  </exports>
</module>
