/* Contains media neutral formatting info */


/* Add error ************************************************/

.error {
    background-color: #FFCCCC;
}

/* Remove margin before/after paras within lists. ************************************************/
.content li p {
    margin: 0;
}

.content ol, ul {
    padding-left: 3em;
}

.content p {
    margin: 0 0 1em;
}

.content p.last,
.content p:last-child {
    margin: 0;
}

.content img {
    max-width: 100%;
}


/* Heading Styling *******************************************************************************/

.content h1 {
    border-bottom: 1px solid #919699;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 1em;
    line-height: 1.5;
}

.content h2 {
    border-bottom: 1px solid #919699;
    font-size: 1.8em;
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-weight: bold;
    line-height: 1.5;
}

.content h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}

.content h4 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0.3em;
    margin-top: 1.2em;
}

.content h5 {
    font-size: 1.2em;
    margin-bottom: 0.1em;
    margin-top: 1em;
}

.content h6 {
    font-size: 1.1em;
    margin-bottom: 0.1em;
    margin-top: 1em;
}

/* Tables */
.content table {
	border-collapse: collapse;
	border: 1px solid red;
	margin-bottom: 1em;
    width: auto;
}

.content table thead tr td {
    background-color: #F0F0F0;
    border: 1px solid #DDDDDD;
    min-width: 0.6em;
    padding: 5px;
    text-align: left;
    vertical-align: top;
    font-weight: bold;
}

.content table tbody tr td {
    border: 1px solid #DDDDDD;
    min-width: 0.6em;
    padding: 5px;
    vertical-align: top;
}

.content tbody tr:nth-child(2n) td, tbody tr.even td {
	background-color: transparent;
}


/* Panels, Code-Samples, Admonitions *************************************************************/

.content div.confbox {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    border-width: 1px;
    border: 1px solid #BBBBBB;
    background-color: #F0F0F0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.content div.confbox div.title {
    font-weight: bold;
    padding-bottom: 1em;
}

.content div.panel {
    padding: 1em;
}

.content div.programlisting {
    padding: 0;
    border-style: dashed;
}

.content div.programlisting div.title {
    padding: 0.5em 1em;
}

.content div.programlisting div.content {
    padding: 1em;
    background-color: #FFFFFF;
}

.content div.programlisting div pre {
    margin: 0;
    white-space: pre-wrap;
}

.content div.admonition {
    padding: 1em 1em 1em 3em;
    background-repeat: no-repeat;
    background-position: 0.75em 1em;
}

.content div.admonition-warning {
    background-image: url(../images/icons/delete.png);
    background-color: #FFE7E7;
    border-color: #DF9898;
}

.content div.admonition-note {
    background-image: url(../images/icons/error.png);
    background-color: #FFFFDD;
    border-color: #F7DF92;
}

.content div.admonition-info {
    background-image: url(../images/icons/information.png);
    background-color: #E0EFFF;
    border-color: #9EB6D4;
}

.content div.admonition-tip {
    background-image: url(../images/icons/accept.png);
    background-color: #DDFADE;
    border-color: #9EC49F;
}


/* Blockquote ************************************************************************************/

.content blockquote {
    border-left: 1px solid #3C78B5;
    color: #222222;
    font-style: italic;
    margin: 1.5em 1em;
    padding-left: 1em;
}

.content .caption {
	font-weight: bold;
	padding-top: 0.5em;
}
