body {
    background-image:url(../images/community/bkg_gradient.gif);
    background-repeat:repeat-x;
    font-family:'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
    padding-top: 0px;
    text-align: justify;
}

/* Page Title */

#title {
    padding:0px;
    margin:0px;
}

#title strong {display:none;}

#title a.site_href {
    display:block;
    height:89px;
    width:310px;
    float:left;
    background:url(../images/community/jbossorglogo.png) top left no-repeat;
}

#title a.doc_href {
    display:block;
    height:89px;
    background:transparent url(../images/community/community_doc.png) top right no-repeat;
}


/* Links */

a:link {color:#0066cc;}

a:visited {color:#6699cc;}

div.longdesc-link {
    float:right;
    color:#999;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
    color:#4a5d75;
    line-height:130%;
    margin-top:0em;
    font-family:'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
    background-color:transparent;
}

h1.title {
    background-image:url(../images/community/title_hdr.png);
    background-repeat:no-repeat;
    border-top:1px dotted #CCCCCC;
    line-height:1.2em;
    color:#182737;
    font-size:2em;
    padding:1em 0em;
}

.title img {
    display: inline;
    margin: 0px;
    vertical-align: middle;
}

.header h1 {
  font-size:2.2em;
  font-weight: bold;
}

/* Element rules */

hr {
    border-collapse:collapse;
    border-style:none;
    border-top:1px dotted #ccc;
    width:100% !important;
}

sup {color:#999;}
