<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.springframework.context">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.apache.camel:camel-spring-javaconfig}" />
    <artifact name="${org.springframework:spring-context}" />
    <artifact name="${org.springframework:spring-context-support}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="javax.annotation.api" />
    <module name="org.apache.commons.logging" />
    <module name="org.springframework.core" />
    <module name="org.springframework.tx" optional="true" />
    <module name="org.springframework.jdbc" optional="true" />
    <module name="org.quartz" optional="true" />
    <module name="org.slf4j" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
    <module name="org.apache.camel.spring" />
    <module name="org.springframework.aop" />
    <module name="org.springframework.beans" />
    <module name="org.springframework.expression" />
  </dependencies>
</module>
