<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.sis.storage">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.apache.sis.storage:sis-netcdf}" />
    <artifact name="${org.apache.sis.storage:sis-storage}" />
  </resources>
  <dependencies>
    <module name="org.apache.sis.core" />
    <module name="org.opengis.geoapi" />
  </dependencies>
</module>
