<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.drewnoakes.metadata-extractor">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${com.drewnoakes:metadata-extractor}" />
  </resources>
  <dependencies>
    <module name="com.adobe.xmp.xmpcore" />
  </dependencies>
</module>
