<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.bouncycastle" slot="1.61">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.bouncycastle:bcmail-jdk15on}" />
    <artifact name="${org.bouncycastle:bcpg-jdk15on}" />
    <artifact name="${org.bouncycastle:bcpkix-jdk15on}" />
    <artifact name="${org.bouncycastle:bcprov-jdk15on}" />
  </resources>
  <dependencies />
</module>
