<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.google.guava" slot="12.0">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${com.google.guava:guava}" />
  </resources>
  <dependencies>
    <module name="javax.inject.api" />
  </dependencies>
</module>
