<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.scala.lang">
  <resources>
    <artifact name="${org.scala-lang:scala-compiler}" />
    <artifact name="${org.scala-lang:scala-library}" />
    <artifact name="${org.scala-lang:scala-reflect}" />
    <artifact name="${org.scala-lang:scalap}" />
  </resources>
  <dependencies />
</module>
