<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.thoughtworks.xstream">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${com.thoughtworks.xstream:xstream}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="javax.xml.stream.api" />
    <module name="javax.activation.api" />
    <module name="xmlpull" />
  </dependencies>
</module>
