<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="edu.ucar.cdm">
  <resources>
    <artifact name="${edu.ucar:cdm}" />
  </resources>
  <dependencies>
    <module name="com.google.guava" />
    <module name="com.google.protobuf" />
    <module name="edu.ucar.httpservices" />
    <module name="edu.ucar.udunits" />
    <module name="net.jcip" />
    <module name="net.sf.ehcache.ehcache-core" />
    <module name="org.apache.httpcomponents" />
    <module name="org.itadaki.bzip2" />
    <module name="org.jdom.jdom2" />
    <module name="org.joda.time" />
    <module name="org.quartz" />
    <module name="org.slf4j" />
  </dependencies>
</module>
