<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.fasterxml.woodstox">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${com.fasterxml.woodstox:woodstox-core}" />
  </resources>
  <dependencies>
    <module name="org.codehaus.woodstox" slot="fuse" />
  </dependencies>
</module>
