{
  "activemq" : {
    "dependencies" : [ "org.wildfly.swarm:camel-jms", "org.apache.activemq:activemq-camel,exclusions=true" ],
    "features" : [ "org.wildfly:wildfly-feature-pack" ]
  },
  "bean-validator" : {
    "moduleId" : "bean.validator"
  },
  "cassandraql" : {
    "moduleId" : "cassandra"
  },
  "cxf" : {
    "dependencies" : [ "org.wildfly.swarm:jaxrs", "org.wildfly.swarm:webservices" ],
    "modules" : [ "org.wildfly.extension.camel.undertow" ]
  },
  "cdi" : {
    "dependencies" : [ "org.wildfly.swarm:cdi" ],
    "modules" : [ "org.wildfly.extension.camel.cdi" ]
  },
  "ejb" : {
    "dependencies" : [ "org.wildfly.swarm:ejb" ]
  },
  "jaxb" : {
    "features" : [ "org.wildfly:wildfly-feature-pack" ]
  },
  "jms" : {
    "dependencies" : [ "org.wildfly.swarm:messaging" ],
    "features" : [ "org.wildfly:wildfly-feature-pack" ]
  },
  "jmx" : {
    "dependencies" : [ "org.wildfly.swarm:ee" ],
    "features" : [ "org.wildfly:wildfly-feature-pack" ]
  },
  "jpa" : {
    "dependencies" : [ "org.wildfly.swarm:jpa" ],
    "features" : [ "org.wildfly:wildfly-feature-pack" ]
  },
  "mail" : {
    "dependencies" : [ "org.wildfly.swarm:mail" ]
  },
  "ognl" : {
    "features" : [ "org.wildfly:wildfly-feature-pack" ]
  },
  "sap-netweaver" : {
    "moduleId" : "sap.netweaver"
  },
  "spring-security" : {
    "moduleId" : "spring.security"
  },
  "swagger" : {
    "features" : [ "org.wildfly:wildfly-feature-pack", "org.wildfly:wildfly-servlet-feature-pack" ]
  },
  "undertow" : {
    "dependencies" : [ "org.wildfly.swarm:undertow" ],
    "features" : [ "org.wildfly:wildfly-feature-pack", "org.wildfly.core:wildfly-core-feature-pack" ],
    "modules" : [ "org.wildfly.extension.camel.undertow" ]
  }
}