<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.fasterxml.jackson.core.jackson-databind" slot="2.7">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${com.fasterxml.jackson.core:jackson-databind}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="com.fasterxml.jackson.core.jackson-annotations" slot="2.7" />
    <module name="com.fasterxml.jackson.core.jackson-core" slot="2.7" />
  </dependencies>
</module>
