<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.hl7">
  <resources>
    <artifact name="${org.apache.camel:camel-hl7}" />
  </resources>
  <dependencies>
    <module name="io.netty" slot="fuse" />
    <module name="org.apache.camel.component.netty" />
    <module name="org.apache.mina.core" />
    <module name="org.slf4j" />
    <module name="ca.uhn.hapi" export="true">
      <exports>
        <exclude path="ca/uhn" />
      </exports>
    </module>
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
