<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.rometools.rome" slot="1.0">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${rome:rome}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
  </dependencies>
</module>
