<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.zookeeper">
  <resources>
    <artifact name="${org.apache.camel:camel-zookeeper}" />
  </resources>
  <dependencies>
    <module name="org.apache.curator" export="true" />
    <module name="org.apache.zookeeper" export="true" />
    <module name="org.slf4j" />
    <module name="io.netty" slot="3.10" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
