<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.kie.remote">
  <resources>
    <artifact name="${org.kie.remote:kie-remote-client}" />
    <artifact name="${org.kie.remote:kie-remote-common}" />
    <artifact name="${org.kie.remote:kie-remote-jaxb}" />
    <artifact name="${org.kie.remote.ws:kie-remote-ws-common}" />
  </resources>
  <dependencies>
    <module name="com.sun.xml.bind" />
    <module name="javax.api" />
    <module name="javax.jms.api" />
    <module name="javax.ws.rs.api" />
    <module name="javax.xml.bind.api" />
    <module name="javax.xml.ws.api" />
    <module name="org.apache.cxf" />
    <module name="org.apache.cxf.impl" />
    <module name="org.codehaus.jackson.jackson-core-asl" />
    <module name="org.codehaus.jackson.jackson-jaxrs" />
    <module name="org.codehaus.jackson.jackson-mapper-asl" />
    <module name="org.codehaus.jackson.jackson-xc" />
    <module name="org.jsoup" />
    <module name="org.kie.api" />
    <module name="org.kie.internal" />
    <module name="org.slf4j" />
  </dependencies>
</module>
