<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="com.amazon.aws">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${com.amazonaws:aws-java-sdk}" />
    <artifact name="${com.amazonaws:aws-java-sdk-cloudfront}" />
    <artifact name="${com.amazonaws:aws-java-sdk-cloudwatch}" />
    <artifact name="${com.amazonaws:aws-java-sdk-core}" />
    <artifact name="${com.amazonaws:aws-java-sdk-dynamodb}" />
    <artifact name="${com.amazonaws:aws-java-sdk-ec2}" />
    <artifact name="${com.amazonaws:aws-java-sdk-kinesis}" />
    <artifact name="${com.amazonaws:aws-java-sdk-s3}" />
    <artifact name="${com.amazonaws:aws-java-sdk-ses}" />
    <artifact name="${com.amazonaws:aws-java-sdk-simpledb}" />
    <artifact name="${com.amazonaws:aws-java-sdk-simpleworkflow}" />
    <artifact name="${com.amazonaws:aws-java-sdk-sns}" />
    <artifact name="${com.amazonaws:aws-java-sdk-sqs}" />
    <artifact name="${com.amazonaws:aws-java-sdk-swf-libraries}" />
    <artifact name="${com.amazonaws:jmespath-java}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="javax.xml.bind.api" />
    <module name="com.fasterxml.jackson.core.jackson-annotations" />
    <module name="com.fasterxml.jackson.core.jackson-core" />
    <module name="com.fasterxml.jackson.dataformat.cbor" />
    <module name="com.fasterxml.jackson.core.jackson-databind" />
    <module name="org.apache.commons.logging" />
    <module name="org.apache.httpcomponents" slot="4.5.2" />
    <module name="org.joda.time" />
  </dependencies>
  <exports>
    <exclude path="com/amazonaws/auth/internal" />
    <exclude path="com/amazonaws/auth/policy/internal" />
    <exclude path="com/amazonaws/auth/profile/internal**" />
    <exclude path="com/amazonaws/internal**" />
    <exclude path="com/amazonaws/metrics/internal**" />
    <exclude path="com/amazonaws/protocol/json/internal" />
    <exclude path="com/amazonaws/retry/internal" />
    <exclude path="com/amazonaws/services/dynamodbv2/document/internal" />
    <exclude path="com/amazonaws/services/s3/internal**" />
    <exclude path="com/amazonaws/services/s3/transfer/internal" />
    <exclude path="com/amazonaws/services/simpledb/internal" />
    <exclude path="com/amazonaws/services/sqs/internal" />
  </exports>
</module>
