<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.quartz">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${com.mchange:c3p0}" />
    <artifact name="${com.mchange:mchange-commons-java}" />
    <artifact name="${org.quartz-scheduler:quartz}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.slf4j" />
  </dependencies>
  <exports>
    <exclude path="com/mchange**" />
    <exclude path="org/terracotta**" />
  </exports>
</module>
