<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.infinispan">
  <resources>
    <artifact name="${org.apache.camel:camel-infinispan}" />
  </resources>
  <dependencies>
    <module name="org.infinispan" export="true">
      <exports>
        <exclude path="OSGI-INF/blueprint" />
      </exports>
    </module>
    <module name="org.infinispan.commons" export="true" />
    <module name="org.infinispan.client.hotrod" export="true" />
    <module name="org.infinispan.query.dsl" export="true" />
    <module name="org.slf4j" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
