<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.servicenow">
  <resources>
    <artifact name="${org.apache.camel:camel-servicenow}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="javax.ws.rs.api" />
    <module name="org.slf4j" />
    <module name="com.fasterxml.jackson.core.jackson-annotations" />
    <module name="com.fasterxml.jackson.core.jackson-core" />
    <module name="com.fasterxml.jackson.core.jackson-databind" />
    <module name="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
    <module name="org.apache.cxf" />
    <module name="org.apache.cxf.ext" />
  </dependencies>
</module>
