<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider" slot="2.7">
  <resources>
    <artifact name="${com.fasterxml.jackson.jaxrs:jackson-jaxrs-base}" />
    <artifact name="${com.fasterxml.jackson.jaxrs:jackson-jaxrs-json-provider}" />
    <artifact name="${com.fasterxml.jackson.module:jackson-module-jaxb-annotations}" />
  </resources>
  <dependencies>
    <module name="com.fasterxml.jackson.core.jackson-annotations" slot="2.7" />
    <module name="com.fasterxml.jackson.core.jackson-core" slot="2.7" />
    <module name="com.fasterxml.jackson.core.jackson-databind" slot="2.7" />
    <module name="javax.ws.rs.api" />
    <module name="javax.xml.bind.api" />
  </dependencies>
</module>
