<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.script.jruby">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.jruby:jruby-complete}" />
    <artifact name="${com.google.code.scriptengines:scriptengines-jruby}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.slf4j" />
    <module name="sun.jdk" />
  </dependencies>
</module>
