<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.headersmap">
  <resources>
    <artifact name="${org.apache.camel:camel-headersmap}" />
    <artifact name="${com.cedarsoftware:java-util}" />
  </resources>
  <dependencies>
    <module name="org.apache.logging.log4j" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
  </dependencies>
  <exports>
    <exclude path="com/cedarsoftware**" />
  </exports>
</module>
