<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="io.reactivex.rxjava" slot="2.1.16">
  <resources>
    <artifact name="${io.reactivex.rxjava2:rxjava}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.reactivestreams" />
  </dependencies>
</module>
