<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.google.oauth-client.google-oauth-client">
  <resources>
    <artifact name="${com.google.oauth-client:google-oauth-client}" />
  </resources>
  <dependencies>
    <module name="com.google.http-client.google-http-client" />
  </dependencies>
</module>
