<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.codehaus.groovy">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.codehaus.groovy:groovy}" />
    <artifact name="${org.codehaus.groovy:groovy-jsr223}" />
    <artifact name="${org.codehaus.groovy:groovy-xml}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.slf4j" />
    <module name="sun.jdk">
      <imports>
        <include path="sun/misc/Unsafe" />
      </imports>
    </module>
  </dependencies>
  <exports>
    <exclude path="groovy/cli/internal" />
    <exclude path="groovy/json/internal" />
    <exclude path="groovyjarjarantlr/**" />
    <exclude path="groovyjarjarasm/**" />
    <exclude path="groovyjarjarpicocli/**" />
    <exclude path="groovyjarjarcommonscli/**" />
    <exclude path="org/apache/groovy/internal**" />
    <exclude path="org/apache/groovy/parser/antlr4**" />
    <exclude path="org/codehaus" />
  </exports>
</module>
