<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.elasticsearch">
  <resources>
    <artifact name="${org.elasticsearch:elasticsearch}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.antlr.antlr-runtime" slot="3.4" />
    <module name="org.slf4j" />
    <module name="sun.jdk">
      <imports>
        <include path="sun/misc/Unsafe" />
      </imports>
    </module>
    <module name="org.apache.lucene" />
    <module name="org.apache.lucene.ext" />
    <module name="org.yaml.snakeyaml" />
  </dependencies>
</module>
