<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.codehaus.woodstox" slot="fuse">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.codehaus.woodstox:stax2-api}" />
    <artifact name="${com.fasterxml.woodstox:woodstox-core}" />
    <artifact name="${org.codehaus.woodstox:woodstox-core-asl}" />
  </resources>
  <dependencies />
</module>
