<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.tika">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.apache.tika:tika-core}" />
    <artifact name="${org.apache.tika:tika-parsers}" />
    <artifact name="${org.gagravarr:vorbis-java-tika}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="javax.xml.bind.api" />
    <module name="javax.ws.rs.api" />
    <module name="org.apache.xerces" />
    <module name="asm.asm" slot="fuse" />
    <module name="com.drewnoakes.metadata-extractor" />
    <module name="com.fasterxml.jackson.core.jackson-annotations" />
    <module name="com.fasterxml.jackson.core.jackson-core" />
    <module name="com.fasterxml.jackson.core.jackson-databind" />
    <module name="com.github.junrar" />
    <module name="com.google.code.gson" slot="fuse" />
    <module name="com.google.code.json-simple" />
    <module name="com.google.code.juniversalchardet" />
    <module name="com.google.code.mp4parser.isoparser" />
    <module name="com.healthmarketscience.jackcess" />
    <module name="com.pff.java-libpst" />
    <module name="com.rometools.rome" />
    <module name="com.sun.xml.bind" />
    <module name="de.l3s.boilerpipe" />
    <module name="edu.ucar.cdm" />
    <module name="edu.ucar.grib" />
    <module name="edu.ucar.httpservices" />
    <module name="edu.ucar.netcdf4" />
    <module name="edu.usc.ir.sentiment-analysis-parser" />
    <module name="javax.activation.api" />
    <module name="org.apache.commons.codec" slot="fuse" />
    <module name="org.apache.commons.compress" />
    <module name="org.apache.commons.csv" />
    <module name="org.apache.commons.exec" />
    <module name="org.apache.commons.io" slot="fuse" />
    <module name="org.apache.cxf.ext" />
    <module name="org.apache.httpcomponents" slot="fuse" />
    <module name="org.apache.james.apache-mime4j-dom" />
    <module name="org.apache.james.mime4j" slot="fuse" />
    <module name="org.apache.opennlp.opennlp-tools" />
    <module name="org.apache.pdfbox" />
    <module name="org.apache.poi" />
    <module name="org.apache.sis.core" />
    <module name="org.apache.sis.storage" />
    <module name="org.bouncycastle" slot="1.61" />
    <module name="org.ccil.cowan.tagsoup" />
    <module name="org.codelibs.jhighlight" />
    <module name="org.gagravarr.vorbis" />
    <module name="org.jboss.logging.jul-to-slf4j-stub" />
    <module name="org.jdom.jdom2" />
    <module name="org.jsoup" slot="fuse" />
    <module name="org.opengis.geoapi" />
    <module name="org.slf4j" />
    <module name="org.tallison.jmatio" />
    <module name="org.tukaani.xz" />
  </dependencies>
  <exports>
    <exclude path="org/gagravarr**" />
  </exports>
</module>
