<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.apache.camel.component.johnzon">
  <resources>
    <artifact name="${org.apache.camel:camel-johnzon}" />
    <artifact name="${org.apache.johnzon:johnzon-core}" />
    <artifact name="${org.apache.johnzon:johnzon-mapper}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.slf4j" />
    <module name="javax.json.api" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
  </dependencies>
  <exports>
    <exclude path="org/apache/johnzon/mapper/internal" />
  </exports>
</module>
