<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.hadoop">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.apache.hadoop:hadoop-annotations}" />
    <artifact name="${org.apache.hadoop:hadoop-auth}" />
    <artifact name="${org.apache.hadoop:hadoop-common}" />
    <artifact name="${org.apache.hadoop:hadoop-hdfs}" />
  </resources>
  <dependencies>
    <module name="ibm.jdk.ext" />
    <module name="javax.api" />
    <module name="sun.jdk.ext" />
    <module name="com.google.code.gson" />
    <module name="com.google.guava" />
    <module name="com.jcraft.jsch" />
    <module name="io.netty" slot="3.10" />
    <module name="javax.servlet.api" />
    <module name="javax.servlet.jsp.api" />
    <module name="org.apache.avro" />
    <module name="org.apache.camel.component.protobuf" />
    <module name="org.apache.commons.cli" />
    <module name="org.apache.commons.codec" />
    <module name="org.apache.commons.collections" />
    <module name="org.apache.commons.compress" />
    <module name="org.apache.commons.configuration" />
    <module name="org.apache.commons.httpclient" />
    <module name="org.apache.commons.io" />
    <module name="org.apache.commons.lang" />
    <module name="org.apache.commons.logging" />
    <module name="org.apache.commons.math3" />
    <module name="org.apache.commons.net" />
    <module name="org.apache.directory" />
    <module name="org.apache.htrace" />
    <module name="org.apache.httpcomponents" slot="4.5.2" />
    <module name="org.apache.log4j" />
    <module name="org.apache.xerces" />
    <module name="org.apache.zookeeper" />
    <module name="org.codehaus.jackson.jackson-core-asl" />
    <module name="org.codehaus.jackson.jackson-mapper-asl" />
    <module name="org.slf4j" />
    <module name="xmlenc" />
  </dependencies>
</module>
