<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.consul">
  <resources>
    <artifact name="${org.apache.camel:camel-consul}" />
  </resources>
  <dependencies>
    <module name="com.fasterxml.jackson.core.jackson-annotations" />
    <module name="com.fasterxml.jackson.core.jackson-core" />
    <module name="com.fasterxml.jackson.core.jackson-databind" />
    <module name="com.fasterxml.jackson.datatype.guava" />
    <module name="com.google.guava" slot="fuse" />
    <module name="com.orbitz.consul.client" export="true">
      <exports>
        <exclude path="com/orbitz" />
        <include path="com/orbitz/consul**" />
      </exports>
    </module>
    <module name="com.squareup.retrofit2" slot="fuse" />
    <module name="com.squareup.okhttp3" slot="fuse" />
    <module name="org.apache.commons.lang3" slot="fuse" />
    <module name="org.slf4j" />
    <module name="org.apache.camel.component.cluster" />
    <module name="org.apache.camel.core" />
  </dependencies>
  <exports>
    <exclude path="com/orbitz" />
    <include path="com/orbitz/consul" />
    <include path="com/orbitz/consul/**" />
  </exports>
</module>
