<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.pgevent">
  <resources>
    <artifact name="${org.apache.camel:camel-pgevent}" />
  </resources>
  <dependencies>
    <module name="com.impossibl.pgjdbc" />
    <module name="javax.api" />
    <module name="javax.sql.api" />
    <module name="javax.transaction.api" />
    <module name="org.slf4j" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
