<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.zipkin">
  <resources>
    <artifact name="${io.zipkin.brave:brave}" />
    <artifact name="${io.zipkin.brave:brave-context-slf4j}" />
    <artifact name="${org.apache.camel:camel-zipkin}" />
    <artifact name="${io.zipkin.zipkin2:zipkin}" />
    <artifact name="${io.zipkin.reporter2:zipkin-reporter}" />
    <artifact name="${io.zipkin.reporter2:zipkin-sender-libthrift}" />
    <artifact name="${io.zipkin.reporter2:zipkin-sender-urlconnection}" />
  </resources>
  <dependencies>
    <module name="org.apache.thrift" />
    <module name="org.slf4j" />
    <module name="org.apache.camel.core" />
  </dependencies>
  <exports>
    <exclude path="brave**" />
    <exclude path="zipkin2/codec**" />
    <exclude path="zipkin2/internal**" />
    <exclude path="zipkin2/reporter/libthrift**" />
    <exclude path="zipkin2/reporter/urlconnection**" />
    <exclude path="zipkin2/storage**" />
    <exclude path="zipkin2/v1**" />
  </exports>
</module>
