<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.squareup.retrofit2" slot="fuse">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${com.squareup.retrofit2:converter-gson}" />
    <artifact name="${com.squareup.retrofit2:converter-jackson}" />
    <artifact name="${com.squareup.retrofit2:converter-moshi}" />
    <artifact name="${com.squareup.retrofit2:retrofit}" />
  </resources>
  <dependencies>
    <module name="com.squareup.okio" />
    <module name="com.fasterxml.jackson.core.jackson-databind" />
    <module name="com.google.code.gson" slot="fuse" />
    <module name="com.squareup.moshi" />
    <module name="com.squareup.okhttp3" slot="fuse" />
  </dependencies>
</module>
