<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.apache.camel.component.dropbox">
  <resources>
    <artifact name="${org.apache.camel:camel-dropbox}" />
    <artifact name="${com.dropbox.core:dropbox-core-sdk}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.slf4j" />
    <module name="com.fasterxml.jackson.core.jackson-core" />
    <module name="javax.servlet.api" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
    <module name="org.apache.commons.io" />
  </dependencies>
  <exports>
    <exclude path="com/dropbox" />
  </exports>
</module>
