<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.tika">
  <resources>
    <artifact name="${org.apache.camel:camel-tika}" />
  </resources>
  <dependencies>
    <module name="org.apache.tika" export="true">
      <exports>
        <exclude path="org/apache/tika/parser/internal**" />
      </exports>
    </module>
    <module name="javax.api" />
    <module name="org.slf4j" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
