<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.protobuf">
  <resources>
    <artifact name="${org.apache.camel:camel-protobuf}" />
  </resources>
  <dependencies>
    <module name="com.google.protobuf" export="true" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
    <module name="org.apache.commons.io" slot="fuse" />
  </dependencies>
</module>
