<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.barcode">
  <resources>
    <artifact name="${org.apache.camel:camel-barcode}" />
    <artifact name="${com.google.zxing:core}" />
    <artifact name="${com.google.zxing:javase}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.slf4j" />
    <module name="org.apache.camel.core" />
  </dependencies>
  <exports>
    <exclude path="com/google**" />
  </exports>
</module>
