<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.atomix">
  <resources>
    <artifact name="${org.apache.camel:camel-atomix}" />
  </resources>
  <dependencies>
    <module name="io.atomix" export="true" />
    <module name="org.slf4j" />
    <module name="org.apache.camel.component.cluster" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
