<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.elasticsearch">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.elasticsearch.plugin:aggs-matrix-stats-client}" />
    <artifact name="${org.elasticsearch:elasticsearch}" />
    <artifact name="${org.elasticsearch:elasticsearch-cli}" />
    <artifact name="${org.elasticsearch:elasticsearch-core}" />
    <artifact name="${org.elasticsearch.client:elasticsearch-rest-client}" />
    <artifact name="${org.elasticsearch.client:elasticsearch-rest-client-sniffer}" />
    <artifact name="${org.elasticsearch.client:elasticsearch-rest-high-level-client}" />
    <artifact name="${org.elasticsearch:elasticsearch-secure-sm}" />
    <artifact name="${org.elasticsearch:elasticsearch-x-content}" />
    <artifact name="${org.elasticsearch:jna}" />
    <artifact name="${net.sf.jopt-simple:jopt-simple}" />
    <artifact name="${org.elasticsearch.plugin:lang-mustache-client}" />
    <artifact name="${org.elasticsearch.plugin:parent-join-client}" />
    <artifact name="${org.elasticsearch.plugin:rank-eval-client}" />
    <artifact name="${com.tdunning:t-digest}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.apache.logging.log4j" />
    <module name="org.apache.lucene" slot="7.1" />
    <module name="sun.jdk">
      <imports>
        <include path="sun/misc" />
      </imports>
    </module>
    <module name="com.carrotsearch.hppc" />
    <module name="com.fasterxml.jackson.core.jackson-core" />
    <module name="com.fasterxml.jackson.dataformat.cbor" />
    <module name="com.fasterxml.jackson.dataformat.smile" />
    <module name="com.fasterxml.jackson.dataformat.yaml" />
    <module name="com.github.spullara.mustache" />
    <module name="org.apache.commons.codec" />
    <module name="org.apache.commons.logging" />
    <module name="org.apache.httpcomponents" />
    <module name="org.hdrhistogram" />
    <module name="org.joda.time" />
    <module name="org.yaml.snakeyaml" />
  </dependencies>
  <exports>
    <exclude path="com/sun**" />
    <exclude path="com/tdunning**" />
    <exclude path="joptsimple**" />
    <exclude path="org/apache/lucene**" />
    <exclude path="org/elasticsearch/search/internal**" />
    <exclude path="org/joda**" />
  </exports>
</module>
