<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Wildfly Camel Patch
  %%
  Copyright (C) 2013 - 2014 RedHat
  %%
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  #L%
  -->
<modules xmlns="http://smartics.de/ns/jboss-modules-descriptor/2">

    <module name="org.apache.camel.spring">
        <include artifact="org.apache.camel:camel-spring" />
        <apply-to-dependencies skip="true">
            <include module="org.apache.camel.apt" />
        </apply-to-dependencies>
        <dependencies>
            <module name="javax.api" />
            <module name="javax.xml.bind.api" />
            <module name="org.apache.camel.core" />
            <module name="org.springframework.beans" export="true" />
            <module name="org.springframework.context" />
            <module name="org.springframework.core" />
            <module name="org.springframework.jdbc" export="true" optional="true">
                <imports>
                    <include path="META-INF" />
                </imports>
                <exports>
                    <include path="META-INF" />
                    <include path="org/springframework/jdbc/config" />
                    <exclude path="org/springframework/jdbc**" />
                </exports>
            </module>
            <module name="org.springframework.jms" export="true" optional="true"/>
            <module name="org.springframework.tx" export="true" optional="true">
                <exports>
                    <exclude path="org/springframework/dao**" />
                    <exclude path="org/springframework/jca**" />
                </exports>
            </module>
            <module name="org.slf4j" />
        </dependencies>
        <exports>
            <exclude path="org/apache/camel/spring/remoting" />
        </exports>
    </module>

    <module name="org.springframework.aop">
        <properties>
            <property name="jboss.api" value="private"/>
        </properties>
        <include artifact=":spring-aop" />
        <dependencies>
            <module name="javax.api" />
            <module name="org.apache.commons.logging" slot="fuse" />
        </dependencies>
    </module>

    <module name="org.springframework.batch">
        <properties>
            <property name="jboss.api" value="private"/>
        </properties>
        <include artifact=":spring-batch-infrastructure" />
        <include artifact=":spring-batch-core" />
        <apply-to-dependencies skip="true">
            <include module="com.ibm.jbatch.tck" />
        </apply-to-dependencies>
        <dependencies>
            <module name="javax.api" />
            <module name="javax.batch.api" />
            <module name="org.apache.commons.logging" slot="fuse" />
            <module name="org.springframework.aop" />
            <module name="org.springframework.core" />
        </dependencies>
    </module>

    <module name="org.springframework.beans">
        <properties>
            <property name="jboss.api" value="private"/>
        </properties>
        <include artifact=":spring-beans" />
        <dependencies>
            <module name="javax.api" />
            <module name="org.apache.commons.logging" slot="fuse" />
            <module name="org.springframework.context" />
            <module name="org.springframework.core" />
        </dependencies>
    </module>

    <module name="org.springframework.context">
        <properties>
            <property name="jboss.api" value="private"/>
        </properties>
        <include artifact=":spring-context" />
        <include artifact=":spring-context-support" />
        <include artifact=":camel-spring-javaconfig" />
        <apply-to-dependencies skip="true">
            <include module="org.apache.camel.apt" />
            <include module="org.apache.camel.spring.main" />
            <include module="cglib" />
        </apply-to-dependencies>
        <dependencies>
            <module name="javax.api" />
            <module name="javax.annotation.api" />
            <module name="org.apache.commons.logging" slot="fuse" />
            <module name="org.springframework.core" />
            <module name="org.springframework.tx" optional="true" />
            <module name="org.springframework.jdbc" optional="true" />
            <module name="org.quartz" optional="true" />
            <module name="org.slf4j" />
        </dependencies>
    </module>

    <module name="org.springframework.core">
        <properties>
            <property name="jboss.api" value="private"/>
        </properties>
        <include artifact=":spring-core" />
        <apply-to-dependencies skip="true">
            <include module="org.springframework.skipped" />
        </apply-to-dependencies>
        <dependencies>
            <module name="javax.api" />
            <module name="org.jboss.vfs" />
            <module name="org.springframework.aop" export="true" />
            <module name="org.springframework.batch" optional="true" />
            <module name="org.apache.commons.logging" slot="fuse" />
        </dependencies>
        <exports>
            <exclude path="org/springframework/cglib/core/internal" />
        </exports>
    </module>

    <module name="org.springframework.data.commons">
        <properties>
            <property name="jboss.api" value="private"/>
        </properties>
        <include artifact=":spring-data-commons" />
        <apply-to-dependencies skip="true">
            <include module="javax.servlet.api" />
            <include module="com.querydsl.skip" />
        </apply-to-dependencies>
        <dependencies>
            <module name="org.springframework.context" />
            <module name="org.springframework.core" />
            <module name="org.springframework.expression" />
        </dependencies>
    </module>

    <module name="org.springframework.data.redis">
        <properties>
            <property name="jboss.api" value="private"/>
        </properties>
        <include artifact=":spring-data-redis" />
        <include artifact="redis.clients:jedis" />
        <dependencies>
            <module name="javax.api" />
            <module name="org.apache.commons.logging" slot="fuse" />
            <module name="org.springframework.core" />
            <module name="org.springframework.beans" />
            <module name="org.springframework.data.commons" />
        </dependencies>
    </module>

    <module name="org.springframework.data.keyvalue">
        <properties>
            <property name="jboss.api" value="private"/>
        </properties>
        <include artifact=":spring-data-keyvalue" />
        <dependencies>
            <module name="org.springframework.core" />
        </dependencies>
    </module>

    <module name="org.springframework.expression">
        <properties>
            <property name="jboss.api" value="private"/>
        </properties>
        <include artifact=":spring-expression" />
        <dependencies>
            <module name="javax.api" />
            <module name="org.apache.commons.logging" slot="fuse" />
            <module name="org.springframework.core" />
        </dependencies>
    </module>

    <module name="org.springframework.jdbc">
        <properties>
            <property name="jboss.api" value="private"/>
        </properties>
        <include artifact=":spring-jdbc" />
        <dependencies>
            <module name="com.h2database.h2" />
            <module name="javax.api" />
            <module name="org.apache.commons.logging" slot="fuse" />
            <module name="org.springframework.context" />
            <module name="org.springframework.core" />
        </dependencies>
    </module>

    <module name="org.springframework.jms">
        <properties>
            <property name="jboss.api" value="private"/>
        </properties>
        <include artifact=":spring-jms" />
        <dependencies>
            <module name="javax.api" />
            <module name="javax.jms.api" />
            <module name="org.apache.commons.logging" slot="fuse" />
            <module name="org.springframework.context" />
            <module name="org.springframework.core" />
        </dependencies>
    </module>

    <module name="org.springframework.ldap">
        <properties>
            <property name="jboss.api" value="private"/>
        </properties>
        <include artifact=":spring-ldap-core" />
        <apply-to-dependencies skip="true">
            <include module="com.sun.ldapbp" />
        </apply-to-dependencies>
        <dependencies>
            <module name="javax.api" />
            <module name="org.apache.commons.logging" slot="fuse" />
            <module name="org.springframework.core" />
            <module name="sun.jdk" />
        </dependencies>
    </module>

    <module name="org.springframework.messaging">
        <properties>
            <property name="jboss.api" value="private"/>
        </properties>
        <include artifact=":spring-messaging" />
        <dependencies>
            <module name="javax.api" />
            <module name="org.apache.commons.logging" slot="fuse" />
            <module name="org.springframework.context" />
            <module name="org.springframework.core" />
        </dependencies>
    </module>

    <module name="org.springframework.orm">
        <properties>
            <property name="jboss.api" value="private"/>
        </properties>
        <include artifact=":spring-orm" />
        <dependencies>
            <module name="javax.api" />
            <module name="javax.persistence.api" />
            <module name="org.apache.commons.logging" slot="fuse" />
            <module name="org.hibernate" />
            <module name="org.springframework.context" />
            <module name="org.springframework.core" />
        </dependencies>
    </module>

    <module name="org.springframework.oxm">
        <properties>
            <property name="jboss.api" value="private"/>
        </properties>
        <include artifact=":spring-oxm" />
        <dependencies>
            <module name="org.apache.commons.logging" slot="fuse" />
        </dependencies>
    </module>

    <module name="org.springframework.retry">
        <properties>
            <property name="jboss.api" value="private"/>
        </properties>
        <include artifact=":spring-retry" />
        <dependencies>
            <module name="org.springframework.core" />
        </dependencies>
    </module>

    <module name="org.springframework.security">
        <properties>
            <property name="jboss.api" value="private"/>
        </properties>
        <include artifact=":spring-security-config" />
        <include artifact=":spring-security-core" />
        <dependencies>
            <module name="javax.api" />
            <module name="org.apache.commons.logging" slot="fuse" />
            <module name="org.springframework.core" />
        </dependencies>
    </module>

    <module name="org.springframework.tx">
        <properties>
            <property name="jboss.api" value="private"/>
        </properties>
        <include artifact=":spring-tx" />
        <dependencies>
            <module name="javax.api" />
            <module name="javax.transaction.api" />
            <module name="org.apache.commons.logging" slot="fuse" />
            <module name="org.springframework.aop" />
            <module name="org.springframework.core" />
            <module name="org.springframework.beans" />
            <module name="org.springframework.context" />
        </dependencies>
    </module>

    <module name="org.springframework.web">
        <properties>
            <property name="jboss.api" value="private"/>
        </properties>
        <include artifact="org.springframework:spring-web" />
        <dependencies>
            <module name="org.apache.commons.logging" slot="fuse" />
            <module name="org.springframework.context" />
            <module name="org.springframework.core" />
        </dependencies>
    </module>

    <module name="org.springframework.ws">
        <include artifact="org.springframework.ws:spring-ws-core" />
        <include artifact="org.springframework.ws:spring-ws-support" />
        <include artifact="org.springframework.ws:spring-xml" />
        <apply-to-dependencies skip="true">
            <include module="org.springframework.skipped" />
            <include module="com.sun.mail" />
        </apply-to-dependencies>
        <dependencies>
            <module name="javax.api" />
            <module name="javax.xml.bind.api" />
            <module name="javax.xml.soap.api" />
            <module name="org.apache.commons.logging" />
            <module name="org.springframework.context" />
            <module name="org.springframework.core" />
        </dependencies>
    </module>

</modules>
