<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.microprofile-health">
  <resources>
    <artifact name="${org.apache.camel:camel-microprofile-health}" />
  </resources>
  <dependencies>
    <module name="org.eclipse.microprofile.health.api" />
    <module name="io.smallrye.health" />
    <module name="org.slf4j" />
    <module name="javax.enterprise.api" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
