<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.micrometer">
  <resources>
    <artifact name="${org.apache.camel:camel-micrometer}" />
  </resources>
  <dependencies>
    <module name="com.fasterxml.jackson.core.jackson-core" />
    <module name="io.micrometer" export="true">
      <exports>
        <exclude path="io/micrometer" />
        <exclude path="io/micrometer/core/instrument/internal" />
        <exclude path="io/micrometer/shaded**" />
        <exclude path="shaded**" />
      </exports>
    </module>
    <module name="org.slf4j" />
    <module name="com.fasterxml.jackson.core.jackson-databind" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
