<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.spring.security">
  <resources>
    <artifact name="${org.apache.camel:camel-spring-security}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.slf4j" />
    <module name="org.springframework.security" export="true">
      <exports>
        <include path="org/springframework/security/access" />
        <include path="org/springframework/security/authentication" />
        <include path="org/springframework/security/core/authority" />
        <include path="org/springframework/security/core/userdetails" />
        <include path="org/springframework/security/core" />
        <exclude path="org/springframework/security/**" />
      </exports>
    </module>
    <module name="org.apache.camel.core" />
    <module name="org.apache.commons.logging" />
    <module name="org.springframework.aop" />
    <module name="org.springframework.beans" />
    <module name="org.springframework.context" />
    <module name="org.springframework.core" />
    <module name="org.springframework.expression" />
  </dependencies>
</module>
