<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.ignite">
  <resources>
    <artifact name="${org.apache.ignite:ignite-core}" />
    <artifact name="${org.gridgain:ignite-shmem}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.jetbrains.annotations" />
    <module name="org.slf4j" />
    <module name="sun.jdk">
      <imports>
        <include path="sun/misc/Unsafe" />
      </imports>
    </module>
    <module name="javax.cache.api" />
  </dependencies>
</module>
