<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.hazelcast">
  <resources>
    <artifact name="${com.hazelcast:hazelcast}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
  </dependencies>
  <exports>
    <exclude path="com/hazelcast/internal**" />
    <exclude path="lib/linux-x86_64" />
    <exclude path="lib/linux-x86" />
  </exports>
</module>
