<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.hazelcast">
  <resources>
    <artifact name="${com.hazelcast:hazelcast}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="javax.cache.api" />
    <module name="sun.jdk">
      <imports>
        <include path="sun/misc" />
      </imports>
    </module>
  </dependencies>
  <exports>
    <exclude path="com/hazelcast/com**" />
    <exclude path="com/hazelcast/client/cp/internal**" />
    <exclude path="com/hazelcast/cp**" />
    <exclude path="com/hazelcast/internal**" />
    <exclude path="com/hazelcast/json**" />
    <exclude path="com/hazelcast/org**" />
    <exclude path="com/hazelcast/osgi**" />
    <exclude path="lib/linux-x86_64" />
    <exclude path="lib/linux-x86" />
  </exports>
</module>
