<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.directory.server">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.apache.directory.server:apacheds-core-api}" />
    <artifact name="${org.apache.directory.server:apacheds-core-constants}" />
    <artifact name="${org.apache.directory.server:apacheds-i18n}" />
    <artifact name="${org.apache.directory.server:apacheds-kerberos-codec}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.apache.commons.lang" />
    <module name="org.apache.directory" />
    <module name="org.apache.mina.core" />
    <module name="org.slf4j" />
  </dependencies>
</module>
