<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.netflix.hystrix">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.hdrhistogram:HdrHistogram}" />
    <artifact name="${com.netflix.hystrix:hystrix-core}" />
    <artifact name="${com.netflix.hystrix:hystrix-metrics-event-stream}" />
    <artifact name="${com.netflix.hystrix:hystrix-serialization}" />
    <artifact name="${io.reactivex:rxjava}" />
  </resources>
  <dependencies>
    <module name="com.fasterxml.jackson.core.jackson-annotations" />
    <module name="com.fasterxml.jackson.core.jackson-core" />
    <module name="com.fasterxml.jackson.core.jackson-databind" />
    <module name="com.netflix.archaius.archaius-core" />
    <module name="javax.servlet.api" />
    <module name="org.slf4j" />
  </dependencies>
</module>
