<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.cxf">
  <resources>
    <artifact name="${org.apache.camel:camel-cxf}" />
    <artifact name="${org.apache.camel:camel-cxf-transport}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="javax.jws.api" />
    <module name="javax.ws.rs.api" />
    <module name="javax.wsdl4j.api" />
    <module name="javax.xml.ws.api" />
    <module name="org.apache.cxf.ext" export="true">
      <imports>
        <include path="META-INF" />
      </imports>
      <exports>
        <include path="META-INF" />
        <include path="org/apache/cxf/jaxrs/spring" />
      </exports>
    </module>
    <module name="org.apache.cxf.impl" export="true">
      <imports>
        <include path="META-INF" />
        <include path="META-INF/cxf**" />
      </imports>
      <exports>
        <include path="META-INF" />
        <include path="META-INF/cxf**" />
        <exclude path="OSGI-INF/blueprint" />
        <exclude path="OSGI-INF/metatype" />
        <exclude path="com/sun**" />
        <exclude path="org/apache/cxf/bus/osgi**" />
        <exclude path="org/apache/cxf/ext/logging/osgi" />
        <exclude path="org/apache/cxf/internal" />
        <exclude path="org/apache/cxf/tools**" />
        <exclude path="org/apache/cxf/transport/http/osgi**" />
        <exclude path="org/apache/cxf/ws/discovery/internal" />
        <exclude path="org/osgi**" />
      </exports>
    </module>
    <module name="org.slf4j" />
    <module name="org.springframework.beans" />
    <module name="org.springframework.context" />
    <module name="org.springframework.core" />
    <module name="org.wildfly.extension.camel.cxf.undertow" export="true">
      <imports>
        <include path="META-INF/cxf**" />
      </imports>
      <exports>
        <include path="META-INF/cxf**" />
      </exports>
    </module>
    <module name="javax.servlet.api" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.component.http.common" />
    <module name="org.apache.camel.core" />
    <module name="org.apache.camel.spring" />
    <module name="org.apache.cxf" />
  </dependencies>
  <exports>
    <exclude path="OSGI-INF/blueprint" />
    <exclude path="schema/blueprint" />
  </exports>
</module>
