<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.hystrix">
  <resources>
    <artifact name="${org.apache.camel:camel-hystrix}" />
  </resources>
  <dependencies>
    <module name="org.slf4j" />
    <module name="com.netflix.hystrix" />
    <module name="javax.servlet.api" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
