<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.wildfly.extension.camel.config">
  <main-class name="org.wildfly.extension.camel.config.internal.Main" />
  <resources>
    <artifact name="${org.wildfly.camel:wildfly-camel-config}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="args4j" />
    <module name="org.jboss.modules" />
    <module name="org.jdom" />
  </dependencies>
</module>
