<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.fusesource.hawtdispatch">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.fusesource.hawtdispatch:hawtdispatch}" />
    <artifact name="${org.fusesource.hawtdispatch:hawtdispatch-transport}" />
  </resources>
  <dependencies>
    <module name="org.fusesource.hawtbuf" />
  </dependencies>
</module>
