<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.squareup.retrofit">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${com.squareup.retrofit:retrofit}" />
  </resources>
  <dependencies>
    <module name="com.squareup.okio" />
    <module name="com.squareup.okhttp" />
    <module name="com.google.code.gson" />
  </dependencies>
</module>
