<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.zipkin">
  <resources>
    <artifact name="${io.zipkin.brave:brave-core}" />
    <artifact name="${io.zipkin.brave:brave-spancollector-scribe}" />
    <artifact name="${org.apache.camel:camel-zipkin}" />
    <artifact name="${org.apache.thrift:libthrift}" />
    <artifact name="${io.zipkin.java:zipkin}" />
    <artifact name="${io.zipkin.reporter:zipkin-reporter}" />
  </resources>
  <dependencies>
    <module name="org.slf4j" />
    <module name="javax.servlet.api" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
  </dependencies>
  <exports>
    <exclude path="com/github" />
    <exclude path="com/github/kristofa" />
    <exclude path="com/github/kristofa/brave/internal**" />
    <exclude path="com/twitter**" />
    <exclude path="org/apache/thrift**" />
    <exclude path="zipkin/**" />
  </exports>
</module>
