<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.git">
  <resources>
    <artifact name="${org.apache.camel:camel-git}" />
  </resources>
  <dependencies>
    <module name="com.googlecode.javaewah" />
    <module name="org.eclipse.jgit" export="true">
      <exports>
        <exclude path="org/eclipse" />
        <exclude path="org/eclipse/jgit/internal**" />
        <exclude path="org/eclipse/jgit/gitrepo/internal**" />
        <exclude path="org/eclipse/jgit/ignore/internal**" />
        <exclude path="org/eclipse/jgit/lib/internal**" />
      </exports>
    </module>
    <module name="javax.api" />
    <module name="org.slf4j" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
