<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.paho">
  <resources>
    <artifact name="${org.apache.camel:camel-paho}" />
    <artifact name="${org.eclipse.paho:org.eclipse.paho.client.mqttv3}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.slf4j" />
    <module name="org.apache.camel.core" />
  </dependencies>
  <exports>
    <exclude path="org/eclipse" />
    <exclude path="org/eclipse/paho/client/mqttv3/internal**" />
  </exports>
</module>
