<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="net.openhft.chronicle">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${net.openhft:affinity}" />
    <artifact name="${net.openhft:chronicle-bytes}" />
    <artifact name="${net.openhft:chronicle-core}" />
    <artifact name="${net.openhft:chronicle-engine}" />
    <artifact name="${net.openhft:chronicle-map}" />
    <artifact name="${net.openhft:chronicle-network}" />
    <artifact name="${net.openhft:chronicle-queue}" />
    <artifact name="${net.openhft:chronicle-threads}" />
    <artifact name="${net.openhft:chronicle-wire}" />
    <artifact name="${net.openhft:compiler}" />
    <artifact name="${net.openhft:lang}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="sun.jdk">
      <imports>
        <include path="sun/misc" />
      </imports>
    </module>
    <module name="asm.asm" slot="fuse" />
    <module name="com.intellij.annotations" />
    <module name="com.thoughtworks.xstream" />
    <module name="org.slf4j" />
    <module name="org.xerial.snappy" />
  </dependencies>
</module>
