<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.restlet">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.restlet.jee:org.restlet}" />
    <artifact name="${org.restlet.jee:org.restlet.ext.httpclient}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="sun.jdk.ext" />
    <module name="org.apache.commons.codec" />
    <module name="org.apache.commons.logging" />
    <module name="org.apache.httpcomponents" slot="4.5.2" />
    <module name="org.apache.james.mime4j" />
  </dependencies>
</module>
