<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.eclipse.milo.client">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.eclipse.milo:bsd-parser-core}" />
    <artifact name="${com.codepoetics:protonpack}" />
    <artifact name="${org.eclipse.milo:sdk-client}" />
    <artifact name="${org.eclipse.milo:stack-client}" />
  </resources>
  <dependencies>
    <module name="com.google.guava" slot="fuse" />
    <module name="io.netty" slot="fuse" />
    <module name="org.slf4j" />
    <module name="com.google.code.gson" slot="fuse" />
    <module name="javax.xml.bind.api" />
    <module name="org.eclipse.milo" />
  </dependencies>
</module>
