<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.msv">
  <resources>
    <artifact name="${org.apache.camel:camel-msv}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.slf4j" />
    <module name="net.java.dev.msv" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
