<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.nagios">
  <resources>
    <artifact name="${org.apache.camel:camel-nagios}" />
    <artifact name="${com.github.jsendnsca:jsendnsca}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.slf4j" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
    <module name="org.apache.commons.lang" />
    <module name="org.bouncycastle" slot="1.61" />
  </dependencies>
  <exports>
    <exclude path="com/googlecode" />
  </exports>
</module>
