<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.pdf">
  <resources>
    <artifact name="${org.apache.camel:camel-pdf}" />
  </resources>
  <dependencies>
    <module name="org.slf4j" />
    <module name="org.apache.camel.core" />
    <module name="org.apache.commons.lang3" />
    <module name="org.apache.pdfbox" />
    <module name="org.bouncycastle" slot="1.61" />
  </dependencies>
</module>
