<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.pubnub">
  <resources>
    <artifact name="${org.apache.camel:camel-pubnub}" />
    <artifact name="${com.pubnub:pubnub-gson}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.slf4j" />
    <module name="com.google.code.gson" slot="fuse" />
    <module name="com.squareup.okhttp3" slot="fuse" />
    <module name="com.squareup.okhttp3.logging-interceptor" />
    <module name="com.squareup.retrofit2" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
