<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.healthmarketscience.jackcess.jackcess-encrypt">
  <resources>
    <artifact name="${com.healthmarketscience.jackcess:jackcess-encrypt}" />
  </resources>
  <dependencies>
    <module name="com.healthmarketscience.jackcess" />
  </dependencies>
</module>
