<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.aws">
  <resources>
    <artifact name="${org.apache.camel:camel-aws-cw}" />
    <artifact name="${org.apache.camel:camel-aws-ddb}" />
    <artifact name="${org.apache.camel:camel-aws-ec2}" />
    <artifact name="${org.apache.camel:camel-aws-kinesis}" />
    <artifact name="${org.apache.camel:camel-aws-s3}" />
    <artifact name="${org.apache.camel:camel-aws-sdb}" />
    <artifact name="${org.apache.camel:camel-aws-ses}" />
    <artifact name="${org.apache.camel:camel-aws-sns}" />
    <artifact name="${org.apache.camel:camel-aws-sqs}" />
    <artifact name="${org.apache.camel:camel-aws-swf}" />
  </resources>
  <dependencies>
    <module name="javax.mail.api" />
    <module name="com.amazon.aws" export="true">
      <exports>
        <exclude path="com/amazonaws/http**" />
      </exports>
    </module>
    <module name="org.slf4j" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
