<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.geocoder">
  <resources>
    <artifact name="${org.apache.camel:camel-geocoder}" />
    <artifact name="${com.google.maps:google-maps-services}" />
  </resources>
  <dependencies>
    <module name="org.slf4j" />
    <module name="com.google.code.gson" slot="fuse" />
    <module name="com.squareup.okhttp3" slot="fuse" />
    <module name="org.apache.camel.core" />
  </dependencies>
  <exports>
    <include path="com/google/maps/model" />
    <exclude path="com/google**" />
  </exports>
</module>
