<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.jcache">
  <resources>
    <artifact name="${org.apache.camel:camel-jcache}" />
  </resources>
  <dependencies>
    <module name="javax.cache.api" export="true" />
    <module name="org.ehcache" />
    <module name="org.infinispan.jcache" export="true" services="export">
      <exports>
        <exclude path="OSGI-INF/blueprint" />
      </exports>
    </module>
    <module name="org.slf4j" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
  </dependencies>
  <exports>
    <exclude path="org/apache/camel/component/jcache/osgi**" />
  </exports>
</module>
