<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.logging.log4j">
  <resources>
    <resource-root path="log4j-api-2.7.jar" />
    <resource-root path="log4j-core-2.7.jar" />
  </resources>
  <dependencies>
    <module name="javax.api" />
  </dependencies>
</module>
