<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.wildfly.extension.camel.ee">
  <resources>
    <artifact name="${org.wildfly.camel:wildfly-camel-subsystem-ee}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.jboss.as.ee" />
    <module name="org.jboss.as.naming" />
    <module name="org.jboss.as.server" />
    <module name="org.jboss.staxmapper" />
    <module name="org.slf4j" />
    <module name="org.apache.camel.core" />
    <module name="org.wildfly.extension.camel" />
  </dependencies>
</module>
