<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="net.java.dev.msv">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${com.sun.xml.bind.jaxb:isorelax}" />
    <artifact name="${org.jopendocument:isorelax-jaxp-bridge-ILM}" />
    <artifact name="${net.java.dev.msv:msv-core}" />
    <artifact name="${net.java.dev.msv:xsdlib}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="com.github.relaxng" />
  </dependencies>
</module>
