<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.quickfix">
  <resources>
    <artifact name="${org.apache.camel:camel-quickfix}" />
    <artifact name="${org.quickfixj:quickfixj-all}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.apache.mina.core" />
    <module name="org.slf4j" />
    <module name="org.apache.camel.core" />
  </dependencies>
  <exports>
    <exclude path="org/quickfix**" />
  </exports>
</module>
