<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="io.opentracing.opentracing-noop" slot="fuse">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${io.opentracing:opentracing-noop}" />
  </resources>
  <dependencies>
    <module name="io.opentracing.opentracing-api" slot="fuse" />
  </dependencies>
</module>
