<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.santuario.xmlsec" slot="fuse">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.apache.santuario:xmlsec}" />
  </resources>
  <dependencies>
    <module name="com.fasterxml.woodstox" />
    <module name="org.apache.commons.codec" slot="fuse" />
    <module name="org.slf4j" />
  </dependencies>
</module>
