<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.eclipse.jgit" slot="fuse">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.eclipse.jgit:org.eclipse.jgit}" />
  </resources>
  <dependencies>
    <module name="com.googlecode.javaewah" slot="fuse" />
    <module name="com.jcraft.jsch" slot="fuse" />
    <module name="com.jcraft.jzlib" />
    <module name="org.bouncycastle" slot="1.61" />
    <module name="org.slf4j" />
  </dependencies>
</module>
