<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.apache.camel.component.jacksonxml">
  <resources>
    <artifact name="${org.apache.camel:camel-jacksonxml}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.slf4j" />
    <module name="com.fasterxml.jackson.core.jackson-databind" />
    <module name="com.fasterxml.jackson.dataformat.xml" />
    <module name="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
    <module name="org.codehaus.woodstox" />
  </dependencies>
</module>
