<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.kafka.clients">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.apache.kafka:kafka-clients}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.lz4" />
    <module name="org.slf4j" />
    <module name="org.xerial.snappy" />
  </dependencies>
  <exports>
    <exclude path="**/internals**" />
    <exclude path="darwin/*" />
    <exclude path="linux/*" />
    <exclude path="win32/*" />
    <exclude path="net/jpountz**" />
  </exports>
</module>
