<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="io.dropwizard.metrics">
  <resources>
    <artifact name="${io.dropwizard.metrics:metrics-core}" />
    <artifact name="${io.dropwizard.metrics:metrics-jmx}" />
    <artifact name="${io.dropwizard.metrics:metrics-json}" />
  </resources>
  <dependencies>
    <module name="com.fasterxml.jackson.core.jackson-core" />
    <module name="javax.api" />
    <module name="com.fasterxml.jackson.core.jackson-databind" />
    <module name="org.slf4j" />
  </dependencies>
</module>
