<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="io.netty" slot="fuse">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${io.netty:netty-all}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.apache.logging.log4j" />
    <module name="sun.jdk" />
  </dependencies>
</module>
