<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.johnzon">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.apache.johnzon:johnzon-core}" />
    <artifact name="${org.apache.johnzon:johnzon-mapper}" />
  </resources>
  <dependencies>
    <module name="javax.json.api" />
  </dependencies>
</module>
