<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.wildfly.extras.patch">
  <main-class name="org.wildfly.extras.patch.internal.Main" />
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.wildfly.extras.patch:fuse-patch-core}" />
  </resources>
  <dependencies>
    <module name="args4j" />
    <module name="javax.api" />
    <module name="org.jboss.logmanager" services="import" />
    <module name="org.slf4j" />
    <module name="javax.servlet.api" />
    <module name="org.eclipse.aether" />
  </dependencies>
</module>
