<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.wildfly.extension.camel">
  <resources>
    <artifact name="${org.jboss.gravia:gravia-container-wildfly-extension}" />
    <artifact name="${org.wildfly.camel:wildfly-camel-subsystem-core}" />
  </resources>
  <dependencies>
    <module name="io.undertow.core" />
    <module name="io.undertow.servlet" />
    <module name="javax.api" />
    <module name="org.apache.camel" services="export">
      <imports>
        <include path="META-INF" />
      </imports>
      <exports>
        <include path="META-INF" />
      </exports>
    </module>
    <module name="org.apache.camel.component" services="export">
      <imports>
        <include path="META-INF" />
      </imports>
      <exports>
        <include path="META-INF" />
      </exports>
    </module>
    <module name="org.jboss.as.controller" />
    <module name="org.jboss.as.ee" />
    <module name="org.jboss.as.naming" />
    <module name="org.jboss.as.network" />
    <module name="org.jboss.as.security" />
    <module name="org.jboss.as.server" />
    <module name="org.jboss.as.web-common" />
    <module name="org.jboss.jandex" />
    <module name="org.jboss.logging" />
    <module name="org.jboss.metadata.common" />
    <module name="org.jboss.metadata.web" />
    <module name="org.jboss.modules" />
    <module name="org.jboss.msc" />
    <module name="org.jboss.staxmapper" />
    <module name="org.jboss.vfs" />
    <module name="org.springframework.beans" />
    <module name="org.springframework.core" />
    <module name="org.springframework.context" />
    <module name="org.springframework.tx" />
    <module name="org.wildfly.extension.camel.cdi" services="export" optional="true" />
    <module name="org.wildfly.extension.camel.security" export="true" services="export" optional="true" />
    <module name="org.wildfly.extension.camel.undertow" services="export" optional="true" />
    <module name="org.wildfly.security.elytron" />
    <module name="org.slf4j" />
    <module name="ibm.jdk.ext" export="true" />
    <module name="sun.jdk.ext" export="true" />
    <module name="javax.servlet.api" />
    <module name="org.jboss.gravia" />
    <module name="org.wildfly.extension.undertow" />
  </dependencies>
</module>
