<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.linkedin">
  <resources>
    <artifact name="${org.apache.camel:camel-linkedin}" />
    <artifact name="${org.apache.camel:camel-linkedin-api}" />
    <artifact name="${org.apache.camel:camel-linkedin-api}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="javax.ws.rs.api" />
    <module name="org.slf4j" />
    <module name="com.fasterxml.jackson.core.jackson-databind" slot="2.7" />
    <module name="javax.xml.bind.api" />
    <module name="net.sourceforge.htmlunit" />
    <module name="org.apache.camel.core" />
    <module name="org.apache.cxf" />
    <module name="org.apache.cxf.ext" />
  </dependencies>
  <exports>
    <exclude path="org/apache/camel/component/linkedin/internal**" />
  </exports>
</module>
