<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.infinispan" slot="8.2">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.infinispan:infinispan-client-hotrod}" />
    <artifact name="${org.infinispan:infinispan-commons}" />
    <artifact name="${org.infinispan:infinispan-core}" />
    <artifact name="${org.infinispan:infinispan-query-dsl}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.jboss.marshalling" />
    <module name="org.jboss.marshalling.river" />
    <module name="sun.jdk" />
    <module name="javax.transaction.api" />
    <module name="org.apache.commons.pool" />
    <module name="org.jboss.logging" />
    <module name="org.jgroups" />
  </dependencies>
  <exports>
    <exclude path="OSGI-INF/blueprint" />
  </exports>
</module>
