<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.spring">
  <resources>
    <artifact name="${org.apache.camel:camel-spring}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
    <module name="org.springframework.beans" export="true" />
    <module name="org.springframework.context" />
    <module name="org.springframework.core" />
    <module name="org.springframework.jdbc" export="true" optional="true">
      <imports>
        <include path="META-INF" />
      </imports>
      <exports>
        <include path="META-INF" />
        <include path="org/springframework/jdbc/config" />
        <exclude path="org/springframework/jdbc**" />
      </exports>
    </module>
    <module name="org.springframework.tx" export="true">
      <exports>
        <exclude path="org/springframework/dao**" />
        <exclude path="org/springframework/jca**" />
      </exports>
    </module>
    <module name="org.slf4j" />
  </dependencies>
  <exports>
    <exclude path="org/apache/camel/spring/remoting" />
  </exports>
</module>
