<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.thrift">
  <resources>
    <artifact name="${org.apache.camel:camel-thrift}" />
  </resources>
  <dependencies>
    <module name="org.apache.thrift" export="true" slot="fuse" />
    <module name="org.slf4j" />
    <module name="org.apache.camel.core" />
    <module name="org.apache.commons.io" slot="fuse" />
    <module name="org.javassist" />
  </dependencies>
</module>
