<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.avro" slot="fuse">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.apache.avro:avro}" />
  </resources>
  <dependencies>
    <module name="org.codehaus.jackson.jackson-core-asl" slot="fuse" />
    <module name="org.codehaus.jackson.jackson-mapper-asl" slot="fuse" />
    <module name="com.thoughtworks.paranamer" />
    <module name="org.apache.commons.compress" />
    <module name="org.slf4j" />
    <module name="org.tukaani.xz" />
    <module name="org.xerial.snappy" />
  </dependencies>
</module>
