<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="ca.uhn.hapi.fhir">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${ca.uhn.hapi.fhir:hapi-fhir-base}" />
    <artifact name="${ca.uhn.hapi.fhir:hapi-fhir-client}" />
    <artifact name="${ca.uhn.hapi.fhir:hapi-fhir-structures-dstu2}" />
    <artifact name="${ca.uhn.hapi.fhir:hapi-fhir-structures-dstu3}" />
    <artifact name="${ca.uhn.hapi.fhir:hapi-fhir-structures-r4}" />
    <artifact name="${ca.uhn.hapi.fhir:hapi-fhir-structures-r5}" />
    <artifact name="${ca.uhn.hapi.fhir:org.hl7.fhir.dstu3}" />
    <artifact name="${ca.uhn.hapi.fhir:org.hl7.fhir.r4}" />
    <artifact name="${ca.uhn.hapi.fhir:org.hl7.fhir.r5}" />
    <artifact name="${ca.uhn.hapi.fhir:org.hl7.fhir.utilities}" />
    <artifact name="${org.fhir:ucum}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="com.google.code.gson" slot="fuse" />
    <module name="com.google.guava" slot="fuse" />
    <module name="javax.servlet.api" />
    <module name="org.apache.commons.codec" slot="fuse" />
    <module name="org.apache.commons.io" slot="fuse" />
    <module name="org.apache.commons.lang3" slot="fuse" />
    <module name="org.apache.commons.text" />
    <module name="org.apache.httpcomponents" slot="fuse" />
    <module name="org.slf4j" />
    <module name="xmlpull" />
  </dependencies>
</module>
