<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.damnhandy.handy-uri-templates">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${com.damnhandy:handy-uri-templates}" />
  </resources>
  <dependencies>
    <module name="org.joda.time" slot="fuse" />
  </dependencies>
</module>
