<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.healthmarketscience.jackcess">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${com.healthmarketscience.jackcess:jackcess}" />
    <artifact name="${com.healthmarketscience.jackcess:jackcess-encrypt}" />
  </resources>
  <dependencies>
    <module name="org.apache.commons.lang" slot="fuse" />
  </dependencies>
</module>
