<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.google.bigquery">
  <resources>
    <artifact name="${org.apache.camel:camel-google-bigquery}" />
    <artifact name="${com.google.apis:google-api-services-bigquery}" />
  </resources>
  <dependencies>
    <module name="com.google.http-client.google-http-client" />
    <module name="org.slf4j" />
    <module name="com.fasterxml.jackson.core.jackson-databind" />
    <module name="com.google.api-client.google-api-client" />
    <module name="org.apache.camel.core" />
    <module name="org.apache.httpcomponents" />
  </dependencies>
  <exports>
    <exclude path="com/google" />
    <exclude path="com/google/api" />
    <exclude path="com/google/api/services" />
  </exports>
</module>
