<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.chemistry.opencmis">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.apache.chemistry.opencmis:chemistry-opencmis-client-api}" />
    <artifact name="${org.apache.chemistry.opencmis:chemistry-opencmis-client-bindings}" />
    <artifact name="${org.apache.chemistry.opencmis:chemistry-opencmis-client-impl}" />
    <artifact name="${org.apache.chemistry.opencmis:chemistry-opencmis-commons-api}" />
    <artifact name="${org.apache.chemistry.opencmis:chemistry-opencmis-commons-impl}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="com.squareup.okhttp3" />
    <module name="org.apache.cxf.impl" />
    <module name="org.apache.httpcomponents" />
    <module name="org.codehaus.woodstox" />
    <module name="org.slf4j" />
  </dependencies>
</module>
