<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.mongodb">
  <resources>
    <artifact name="${org.mongodb:bson}" />
    <artifact name="${org.mongodb:mongodb-driver-core}" />
    <artifact name="${org.mongodb:mongodb-driver-sync}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
  </dependencies>
  <exports>
    <exclude path="com/mongodb/client/internal**" />
    <exclude path="com/mongodb/internal**" />
    <exclude path="org/bson/internal" />
  </exports>
</module>
