<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.reactive.streams">
  <resources>
    <artifact name="${org.apache.camel:camel-reactive-streams}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.reactivestreams" export="true" slot="fuse" />
    <module name="org.slf4j" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
