<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.google.inject.extensions" slot="3.0">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${com.google.inject.extensions:guice-assistedinject}" />
  </resources>
  <dependencies>
    <module name="javax.inject.api" />
    <module name="com.google.inject.guice" slot="3.0" />
  </dependencies>
</module>
