<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.crypto.cms">
  <resources>
    <artifact name="${org.apache.camel:camel-crypto-cms}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.slf4j" />
    <module name="org.apache.camel.core" />
    <module name="org.apache.commons.codec" slot="fuse" />
    <module name="org.bouncycastle" slot="1.61" />
  </dependencies>
</module>
