<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.google.inject.guice">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${com.google.inject:guice}" />
  </resources>
  <dependencies>
    <module name="com.google.guava" />
    <module name="aopalliance" />
    <module name="javax.inject.api" />
  </dependencies>
</module>
