<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.commons.httpclient">
  <resources>
    <artifact name="${commons-httpclient:commons-httpclient}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.apache.commons.logging" />
  </dependencies>
</module>
