<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="edu.ucar.udunits">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${edu.ucar:udunits}" />
  </resources>
  <dependencies>
    <module name="net.jcip" />
    <module name="org.joda.time" />
  </dependencies>
</module>
