<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.springframework.ws">
  <resources>
    <artifact name="${org.springframework.ws:spring-ws-core}" />
    <artifact name="${org.springframework.ws:spring-ws-support}" />
    <artifact name="${org.springframework.ws:spring-xml}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="javax.xml.bind.api" />
    <module name="javax.xml.soap.api" />
    <module name="javax.jms.api" />
    <module name="javax.mail.api" />
    <module name="javax.servlet.api" />
    <module name="org.apache.commons.logging" />
    <module name="org.springframework.aop" />
    <module name="org.springframework.beans" />
    <module name="org.springframework.context" />
    <module name="org.springframework.core" />
    <module name="org.springframework.jms" />
    <module name="org.springframework.oxm" />
    <module name="org.springframework.web" />
  </dependencies>
</module>
