<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.dozer">
  <resources>
    <artifact name="${org.apache.camel:camel-dozer}" />
  </resources>
  <dependencies>
    <module name="com.github.dozermapper" export="true">
      <exports>
        <include path="com/github/dozermapper/core/util**" />
        <exclude path="com/github**" />
      </exports>
    </module>
    <module name="org.apache.commons.lang3" slot="fuse" />
    <module name="org.slf4j" />
    <module name="javax.el.api" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
