<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.abdera.parser">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.apache.abdera:abdera-parser}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="javax.activation.api" />
    <module name="org.apache.abdera.i18n" />
    <module name="javax.xml.stream.api" />
    <module name="org.apache.abdera.core" />
    <module name="org.apache.commons.logging" />
    <module name="org.apache.ws.commons.axiom.axiom-api" />
    <module name="org.apache.ws.commons.axiom.axiom-impl" />
    <module name="org.jaxen" />
  </dependencies>
</module>
