<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="net.sf.ehcache.ehcache-core">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${net.sf.ehcache:ehcache-core}" />
  </resources>
  <dependencies>
    <module name="javax.transaction.api" />
    <module name="javax.servlet.api" />
    <module name="org.hibernate" />
    <module name="org.slf4j" />
  </dependencies>
</module>
