<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.cometd">
  <resources>
    <artifact name="${org.apache.camel:camel-cometd}" />
  </resources>
  <dependencies>
    <module name="org.cometd.bayeux" export="true" />
    <module name="org.slf4j" />
    <module name="javax.servlet.api" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
    <module name="org.cometd.server" />
    <module name="org.eclipse.jetty" />
    <module name="org.eclipse.jetty.server" />
  </dependencies>
</module>
