<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="io.dropwizard.metrics" slot="3.2">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${io.dropwizard.metrics:metrics-core}" />
  </resources>
  <dependencies>
    <module name="org.slf4j" />
  </dependencies>
</module>
