<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.couchbase">
  <resources>
    <artifact name="${org.apache.camel:camel-couchbase}" />
    <artifact name="${com.couchbase.client:couchbase-client}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.apache.httpcomponents" />
    <module name="org.slf4j" />
    <module name="io.netty" slot="3.10" />
    <module name="javax.xml.bind.api" />
    <module name="net.spy.spymemcached" />
    <module name="org.apache.camel.core" />
    <module name="org.apache.commons.codec" />
    <module name="org.codehaus.jettison" />
  </dependencies>
  <exports>
    <exclude path="com/couchbase/client**" />
  </exports>
</module>
