<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.couchbase">
  <resources>
    <artifact name="${org.apache.camel:camel-couchbase}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.slf4j" />
    <module name="com.couchbase.client" />
    <module name="org.apache.camel.core" />
  </dependencies>
  <exports>
    <exclude path="com/couchbase/client**" />
  </exports>
</module>
