<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.script.rhino">
  <resources>
    <artifact name="${rhino:js}" />
    <artifact name="${org.livetribe:livetribe-jsr223}" />
    <artifact name="${com.google.code.scriptengines:scriptengines-javascript}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
  </dependencies>
</module>
