<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.xstream">
  <resources>
    <artifact name="${org.apache.camel:camel-xstream}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="javax.xml.stream.api" />
    <module name="org.codehaus.jettison" />
    <module name="org.slf4j" />
    <module name="com.thoughtworks.xstream" />
    <module name="org.apache.camel.core" />
    <module name="org.codehaus.woodstox" />
  </dependencies>
</module>
