<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.ribbon">
  <resources>
    <artifact name="${org.apache.camel:camel-ribbon}" />
  </resources>
  <dependencies>
    <module name="org.slf4j" />
    <module name="com.netflix.ribbon.ribbon-core" />
    <module name="com.netflix.ribbon.ribbon-loadbalancer" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
