<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.xchange">
  <resources>
    <artifact name="${org.apache.camel:camel-xchange}" />
    <artifact name="${org.knowm.xchange:xchange-binance}" />
    <artifact name="${org.knowm.xchange:xchange-core}" />
  </resources>
  <dependencies>
    <module name="com.fasterxml.jackson.core.jackson-annotations" />
    <module name="com.fasterxml.jackson.core.jackson-databind" />
    <module name="javax.ws.rs.api" />
    <module name="javax.api" />
    <module name="org.slf4j" />
    <module name="com.github.mmazi.rescu" />
    <module name="javax.annotation.api" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
    <module name="org.apache.commons.io" />
    <module name="org.apache.commons.lang3" />
  </dependencies>
  <exports>
    <exclude path="org/knowm" />
  </exports>
</module>
