<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.github.dozermapper">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${com.github.dozermapper:dozer-core}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="javax.el.api" />
    <module name="javax.xml.bind.api" />
    <module name="org.glassfish.javax.el" />
    <module name="org.apache.camel.component.dozer" />
    <module name="com.sun.xml.bind" />
    <module name="org.apache.commons.beanutils" slot="fuse" />
    <module name="org.apache.commons.io" slot="fuse" />
    <module name="org.apache.commons.lang3" slot="fuse" />
    <module name="org.objenesis" />
    <module name="org.slf4j" />
  </dependencies>
</module>
