<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.jsch">
  <resources>
    <artifact name="${org.apache.camel:camel-jsch}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.apache.camel.core" />
    <module name="org.slf4j" />
    <module name="com.jcraft.jsch" />
    <module name="org.apache.camel.component.ftp" />
    <module name="org.apache.mina.core" />
  </dependencies>
</module>
