<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.github.docker.java">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${com.github.docker-java:docker-java}" />
  </resources>
  <dependencies>
    <module name="com.fasterxml.jackson.core.jackson-annotations" />
    <module name="com.fasterxml.jackson.core.jackson-core" />
    <module name="com.fasterxml.jackson.core.jackson-databind" />
    <module name="io.netty" />
    <module name="javax.api" />
    <module name="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider" />
    <module name="com.google.guava" />
    <module name="com.kohlschutter.junixsocket" />
    <module name="org.apache.commons.codec" />
    <module name="org.apache.commons.compress" />
    <module name="org.apache.commons.io" />
    <module name="org.apache.commons.lang" />
    <module name="org.apache.httpcomponents" />
    <module name="org.bouncycastle" />
    <module name="org.slf4j" />
  </dependencies>
</module>
