<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.commons.httpclient">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${commons-httpclient:commons-httpclient}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.apache.commons.codec" slot="fuse" />
    <module name="org.apache.commons.logging" slot="fuse" />
  </dependencies>
  <exports>
    <exclude path="org/apache/commons" />
  </exports>
</module>
