<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.rss">
  <resources>
    <artifact name="${org.apache.camel:camel-rss}" />
  </resources>
  <dependencies>
    <module name="com.rometools.rome" export="true" />
    <module name="org.apache.commons.codec" slot="fuse" />
    <module name="org.slf4j" />
    <module name="org.apache.camel.component.atom" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
