<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.qpid.proton" slot="0.29">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.apache.qpid:proton-j}" />
  </resources>
  <dependencies>
    <module name="javax.jms.api" />
  </dependencies>
</module>
