<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.elasticsearch5">
  <resources>
    <resource-root path="camel-elasticsearch5-2.20.0.jar" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="org.elasticsearch5" />
    <module name="org.slf4j" />
    <module name="com.fasterxml.jackson.core.jackson-databind" />
    <module name="javax.xml.bind.api" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
