<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.google.pubsub">
  <resources>
    <artifact name="${org.apache.camel:camel-google-pubsub}" />
  </resources>
  <dependencies>
    <module name="com.google.http-client.google-http-client" />
    <module name="org.apache.httpcomponents" slot="fuse" />
    <module name="javax.api" />
    <module name="org.slf4j" />
    <module name="com.google.cloud.pubsub" />
    <module name="com.google.guava" slot="fuse" />
    <module name="io.grpc" />
    <module name="org.apache.camel.core" />
  </dependencies>
</module>
