<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.google.guava" slot="fuse">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${com.google.guava:failureaccess}" />
    <artifact name="${com.google.guava:guava}" />
  </resources>
  <dependencies />
  <exports>
    <exclude path="com/google/common/util/concurrent/internal" />
  </exports>
</module>
