<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.influxdb">
  <resources>
    <artifact name="${org.apache.camel:camel-influxdb}" />
    <artifact name="${org.influxdb:influxdb-java}" />
    <artifact name="${org.msgpack:msgpack-core}" />
  </resources>
  <dependencies>
    <module name="com.squareup.okhttp3" slot="fuse" />
    <module name="com.squareup.retrofit2" slot="fuse" />
    <module name="com.squareup.moshi" />
    <module name="org.slf4j" />
    <module name="com.squareup.okio" />
    <module name="org.apache.camel.core" />
  </dependencies>
  <exports>
    <exclude path="org/influxdb/impl**" />
    <exclude path="org/msgpack**" />
  </exports>
</module>
