<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.camel.component.box">
  <resources>
    <artifact name="${org.apache.camel:camel-box}" />
    <artifact name="${org.apache.camel:camel-box-api}" />
    <artifact name="${org.apache.camel:camel-box-api}" />
  </resources>
  <dependencies>
    <module name="com.box" export="true" />
    <module name="javax.api" />
    <module name="org.slf4j" />
    <module name="org.apache.camel.core" />
    <module name="org.apache.httpcomponents" slot="fuse" />
    <module name="org.jsoup" slot="fuse" />
  </dependencies>
  <exports>
    <exclude path="org/apache/camel/component/box/internal" />
  </exports>
</module>
