<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.cxf.ext">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.apache.cxf:cxf-rt-frontend-jaxrs}" />
    <artifact name="${org.apache.cxf:cxf-rt-rs-client}" />
    <artifact name="${org.apache.cxf:cxf-rt-rs-extension-providers}" />
    <artifact name="${org.apache.cxf:cxf-rt-rs-json-basic}" />
    <artifact name="${org.apache.cxf:cxf-rt-rs-security-jose}" />
    <artifact name="${org.apache.cxf:cxf-rt-rs-security-jose-jaxrs}" />
    <artifact name="${org.apache.cxf:cxf-rt-rs-security-oauth2}" />
  </resources>
  <dependencies>
    <module name="javax.api" />
    <module name="javax.servlet.api" />
    <module name="javax.ws.rs.api" />
    <module name="javax.xml.bind.api" />
    <module name="org.codehaus.jettison" />
    <module name="org.springframework.beans" />
    <module name="org.springframework.context" />
    <module name="javax.annotation.api" />
    <module name="org.apache.cxf" />
    <module name="org.apache.cxf.impl" />
    <module name="org.osgi.core" />
  </dependencies>
  <exports>
    <exclude path="net/oauth*" />
    <exclude path="org/apache/cxf/ext/logging**" />
    <exclude path="OSGI-INF/blueprint" />
    <exclude path="OSGI-INF/metatype" />
    <exclude path="schemas/blueprint" />
  </exports>
</module>
