# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    
    - name: Cache Maven dependencies
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: m2local

    - name: Build with Maven
      run: mvn -B clean install -Dts.all
      
    - name: Copy Surefire reports
      run:  mkdir surefire-reports; cp */target/surefire-reports/*.txt surefire-reports; tar czf surefire-reports.tgz surefire-reports
      
    - name: Upload surefire results
      uses: actions/upload-artifact@v1
      with:
        name: surefire-reports
        path: surefire-reports.tgz
