<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.kohlschutter.junixsocket">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${com.kohlschutter.junixsocket:junixsocket-common}" />
    <artifact name="${com.kohlschutter.junixsocket:junixsocket-native-common}" />
    <artifact name="${org.scijava:native-lib-loader}" />
  </resources>
  <dependencies>
    <module name="org.apache.log4j" />
  </dependencies>
</module>
